<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </header>
  <!-- #f6fbff -->
  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table style="width: 100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <table
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 100%;
                  background-color: #fafaff;
                "
                cellpadding="0"
                cellspacing="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        box-shadow: 7px -1px 26px -18px #888888;
                        margin: 0 0 10px 0;
                      "
                    >
                      <img
                        src="##NBFCLOGO##"
                        width="140"
                        alt="Logo"
                        title="Logo"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #fafaff;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 85%;
                    font-size: 14px;
                    text-align: justify;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="padding: 20px 10px 0 10px">
                        Dear
                        <span style="font-weight: bold">##FullName##,</span>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 10px 0 10px">
                        <p>
                          We have adopted an
                          <span style="font-weight: bold">
                            efficient and secure e-signature process to
                            streamline this process,
                          </span>
                          and your prompt action is greatly appreciated.
                        </p>
                        <p>
                          If you have any questions or encounter any issues
                          while signing the document, please do not hesitate to
                          reach out to our support team at
                          <b>Customer Support Email</b> or
                          <strong>Customer Support Phone Number</strong>.
                        </p>
                        <p>
                          Kindly complete the eSign process to proceed further.
                          Click on below
                          <span style="font-weight: 700">
                            "Proceed" button and complete the process.
                          </span>
                          Your prompt response will help us move forward with
                          the next steps.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top: 20px">
                        <div
                          style="
                            background-color: #071818;
                            padding: 15px;
                            font-size: 14px;
                            border-radius: 8px;
                            font-weight: bold;
                            width: 120px;
                            text-align: center;
                            vertical-align: middle;
                            margin: auto;
                            cursor: pointer;
                          "
                        >
                          <a
                            href="##LINK##"
                            style="color: #ffffff; text-decoration: none"
                          >
                            Proceed
                            <img
                              src="https://storage.googleapis.com/backend_static_stuff/1698662489733.png"
                              alt="forward_arrow"
                              height="8px"
                              width="16px"
                            />
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 10px">
                        <p>Sincerely,</p>
                        <p style="font-weight: bold">Team ##NBFCSHORTNAME##.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="margin: auto; max-width: 800px; color: #ffffff">
                <div
                  style="
                    background-color: #000000;
                    margin: auto;
                    padding: 12px;
                    text-align: center;
                    font-size: 12px;
                  "
                >
                  ##NBFCINFO##
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
