<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </header>
  <!-- #f6fbff -->
  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table style="width: 100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <table
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 100%;
                  background-color: #fafaff;
                "
                cellpadding="0"
                cellspacing="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        box-shadow: 7px -1px 26px -18px #888888;
                        margin: 0 0 10px 0;
                      "
                    >
                      <img
                        src="##NBFCLOGO##"
                        width="140"
                        alt="Logo"
                        title="Logo"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #fafaff;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 85%;
                    font-size: 14px;
                    text-align: justify;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="padding: 20px 10px 0 10px">
                        Dear
                        <span style="font-weight: bold">##NAME##,</span>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 10px 0 10px">
                        <p>
                          We are highly pleased to inform you that your loan
                          application with purpose
                          <span style="color: #008000; font-weight: 900"
                            >##PURPOSE##
                          </span>
                          of
                          <span style="color: #008000; font-weight: 900"
                            >₹##FINALAMOUNT##
                          </span>
                          has been approved.
                        </p>
                        <p>
                          We are glad to confirm that your registration with
                          ##NBFC## has been successfully completed!
                          <span style="font-weight: 900"
                            >Thank you for choosing us.</span
                          >
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 10px 0 10px">
                        <div
                          style="max-width: 800px; border: 1px solid #000000"
                        >
                          <table
                            style="
                              margin: auto;
                              border-collapse: collapse;
                              min-width: 100%;
                              max-width: 800px;
                              font-size: 12px;
                              font-weight: bold;
                              background: #ffffff;
                              text-align: left;
                            "
                          >
                            <tbody>
                              <tr>
                                <td
                                  colspan="2"
                                  style="
                                    padding: 15px;
                                    text-align: center;
                                    background-color: #000000;
                                    color: #ffffff;
                                  "
                                >
                                  Please find the below transaction details
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 15px">Account Number</td>
                                <td style="padding: 15px; text-align: right">
                                  ##AccountNO##
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <div
                                    style="
                                      margin: auto;
                                      border-bottom: 1px solid #e2e2f0;
                                      width: 95%;
                                    "
                                  ></div>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 15px">Bank Name</td>
                                <td style="padding: 15px; text-align: right">
                                  ##BANKNAME##
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <div
                                    style="
                                      margin: auto;
                                      border-bottom: 1px solid #e2e2f0;
                                      width: 95%;
                                    "
                                  ></div>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 15px">
                                  Amount Transferred
                                </td>
                                <td style="padding: 15px; text-align: right">
                                  ₹##FINALAMOUNT1##
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <div
                                    style="
                                      margin: auto;
                                      border-bottom: 1px solid #e2e2f0;
                                      width: 95%;
                                    "
                                  ></div>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 15px">Bank Transaction</td>
                                <td style="padding: 15px; text-align: right">
                                  ##BANKTRANSACTION##
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <div
                                    style="
                                      margin: auto;
                                      border-bottom: 1px solid #e2e2f0;
                                      width: 95%;
                                    "
                                  ></div>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 15px">Loan ID</td>
                                <td style="padding: 15px; text-align: right">
                                  ##LOANID##
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <div
                                    style="
                                      margin: auto;
                                      border-bottom: 1px solid #e2e2f0;
                                      width: 95%;
                                    "
                                  ></div>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 15px">
                                  Loan Agreement & Sanction Letter
                                </td>
                                <td style="padding: 15px; text-align: right">
                                  Please Check Attached Files
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <p>
                          We are happy to see you on our platform.
                          <span style="font-weight: 700">Happy Lending</span>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 30px 10px">
                        <p>Sincerely,</p>
                        <p style="font-weight: 900">
                          ##NBFCCAMEL## Support Team
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="margin: auto; max-width: 800px; color: #ffffff">
                <div
                  style="
                    background-color: #000000;
                    margin: auto;
                    padding: 10px;
                    text-align: center;
                    font-size: 12px;
                  "
                >
                  ##NBFCINFO##
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
