<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table style="width: 100%" cellpadding="0" cellspacing="0">
        <tbody>
          <!-- header  -->
          <tr>
            <td style="background-color: #f6f6f6">
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 80%;
                  padding: 15px 0 10px;
                "
              >
                <img width="150px" src="##NBFCLOGO##" alt="logo" />
              </div>
              <div style="margin: auto; max-width: 800px; text-align: center">
                <img
                  style="max-width: 800px"
                  src="https://storage.googleapis.com/front_end_media/settlement-offer.png"
                  alt="Image"
                />
              </div>
            </td>
          </tr>

          <!-- Intro  -->
          <tr>
            <td>
              <div>
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 80%;
                    font-size: 14px;
                    color: #000000;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="padding: 20px 0 0 0">
                        Hello ##NAME##,
                        <div style="margin: 5px 0px">Loan ID: ##LOANID##</div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 0 0 0; line-height: 20px">
                        Your Settlement offer is approved!
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: 20px; text-align: justify">
                        To activate your offer, please confirm the settlement
                        details & accept the offer using the button below. Make
                        sure to pay your settlement amount as mentioned below to
                        close your overdue loan.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <!-- content 1 -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 80%;
                  font-size: 14px;
                "
              >
                <div style="margin: 20px 0 0; font-size: 14px; color: #000">
                  Total Settlement Amount: <b>₹##AMOUNT##</b>
                </div>
                <div style="margin: 5px 0 30px; font-size: 14px; color: #000">
                  Date & Time: <b>##DATE## ##TIME##</b>
                </div>
              </div>
              <div style="margin: auto; max-width: 800px">
                <div
                  style="
                    background: rgba(0, 128, 0, 0.1);
                    margin: auto;
                    padding: 20px;
                    text-align: center;
                    font-size: 13px;
                  "
                >
                  <span style="color: #038c00">
                    <b
                      >This offer is valid till ##DATE## ##TIME## & will expire
                      if it is not accepted & paid.</b
                    ></span
                  >
                </div>
              </div>
            </td>
          </tr>

          <!-- content 2  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #ffffff;
                  color: #000000;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 80%;
                    font-size: 14px;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="line-height: 20px">
                        <div style="margin-top: 45px; text-align: justify">
                          Once we receive the offered
                          <b>TOTAL SETTLEMENT AMOUNT</b>
                          then we will provide you NOC and start the case
                          withdrawal process.
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <!--  ACCEPT & PAY NOW  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 80%;
                  font-size: 14px;
                "
              ></div>
              <div style="margin-top: 45px; max-width: 800px">
                <div style="text-align: center">
                  <a href="##link##">
                    <button
                      style="
                        background-color: #171732;
                        color: #fff;
                        width: 30%;
                        border-radius: 12px;
                        padding: 15px;
                        border: none;
                      "
                    >
                      ACCEPT & PAY NOW
                    </button>
                  </a>
                </div>
              </div>
            </td>
          </tr>

          <!-- footer  -->
          <tr>
            <td>
              <div style="margin-top: 40px; max-width: 800px; color: white">
                <div
                  style="
                    background-color: #171732;
                    margin: auto;
                    padding: 10px;
                    text-align: center;
                    font-size: 13px;
                  "
                >
                  For more information, visit our website :
                  <b
                    ><a style="color: #ffffff" href="##NBFCLINK##"
                      >##NBFCLINK##</a
                    ></b
                  >
                  / T&C apply
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
