<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </header>

  <body style="padding: 0; margin: 0; background-color: #d9d9d9">
    <table style="width: 100%; margin-top: 20px">
      <tbody>
        <tr>
          <td>
            <table
              style="
                background-color: #fff;
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                max-width: 650px;
                width: 100%;
                font-family: Work Sans, sans-serif;
                height: 70px;
              "
            >
              <tbody>
                <tr>
                  <td
                    style="
                      text-align: center;
                      box-shadow: 7px -1px 26px -18px #888888;
                      margin: 0 0 10px 0;
                    "
                  >
                    <img
                      src="##NBFCLOGO##"
                      width="140"
                      alt="Logo"
                      title="Logo"
                    />
                  </td>
                </tr>
                <tr>
                  <table
                    style="
                      background-color: #fff;
                      margin: auto;
                      max-width: 650px;
                      width: 100%;
                      padding: 0px 70px;
                      font-family: Work Sans, sans-serif;
                    "
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            font-size: 22px;
                            font-weight: 700;
                            color: red;
                            padding: 0px 0 20px 0;
                            text-align: center;
                          "
                        >
                          Loan Rejected
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 20px 0px 5px 0px; font-size: 16px">
                          Dear
                          <strong>##NAME##,</strong>
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="
                            font-size: 16px;
                            padding: 0 0 5px 0;
                            line-height: 22px;
                            font-weight: 400;
                          "
                        >
                          We are extremely sorry to inform you that your
                          application for a ##PURPOSE## of Rs. ##AMOUNT##/- has
                          been rejected.
                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 30px 0 5px 0">Thank you.</td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">Regards,</td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          Team ##NBFCSNAME##.
                        </td>
                      </tr>
                      <tr>
                        <table
                          style="
                            background-color: #fff;
                            margin: auto;
                            max-width: 650px;
                            width: 100%;
                          "
                        >
                          <tbody>
                            <tr>
                              <td>
                                <img
                                  src="https://storage.googleapis.com/backend_static_stuff/attachment%201.png"
                                  width="100%"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </tr>
                    </tbody>
                  </table>
                </tr>
                <tr>
                  <table
                    style="
                      background-color: #202961;
                      margin: auto;
                      max-width: 650px;
                      width: 100%;
                      padding: 0px 70px;
                      font-family: Work Sans, sans-serif;
                      padding: 10px;
                      position: relative;
                      top: -5px;
                    "
                  >
                    <tbody>
                      <tr style="text-align: center">
                        <td style="color: #fff; font-size: 12px">
                          ##NBFCINFO##
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <table
            style="
              border: none;
              border-collapse: collapse;
              border-spacing: 0;
              margin: auto;
              max-width: 710px;
              width: 100%;
              font-family: Work Sans, sans-serif;
              position: relative;
              top: -5px;
            "
          >
            <tbody style="text-align: center">
              <tr>
                <td
                  style="font-size: 9px; padding: 10px 0 10 0; color: #757575"
                >
                  If you did NOT initiate this log-in, we highly recommend you
                  change your password and/or enable two-factor authentication.
                  If you are unable to do these things,
                </td>
              </tr>
              <tr>
                <td style="font-size: 9px; padding: 0px 0 10 0; color: #757575">
                  please contact support
                </td>
              </tr>
              <tr>
                <td style="padding: 20px 0 0 0">
                  <img
                    src="https://storage.googleapis.com/backend_static_stuff/twitter%20(2)%201.png"
                  />
                  <img
                    src="https://storage.googleapis.com/backend_static_stuff/facebook%20(3)%201.png"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </tr>
      </tbody>
    </table>
  </body>
</html>
