<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </header>

  <body>
    <p>Dear ##FullName##,</p>
    We hope this email finds you well. We are pleased to inform you that your
    loan with our NBFC - ##NBFCNAME## has been successfully ##LOANTYPE##, and we
    have attached a No Due Certificate as proof.<br /><br />
    This certificate confirms that there are no outstanding dues on your loan
    with Loan ID - ##LOANID## as of the date of closure. We would like to take
    this opportunity to thank you for choosing our NBFC for your financial
    needs.<br /><br />
    If you have any further queries or require any assistance, please do not
    hesitate to contact us. Our customer service representatives will be happy
    to help.<br /><br />
    You can write us at ##COLLECTIONEMAIL##
    <br />
    <br />
    <br />Thank you for choosing us. <br />Sincerely, <br />##NBFCNAME##
  </body>
</html>
