<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table style="width: 100%" cellpadding="0" cellspacing="0">
        <tbody>
          <!-- header  -->
          <tr>
            <td>
              <table
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 100%;
                  background-color: #fafaff;
                "
                cellpadding="0"
                cellspacing="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        box-shadow: 7px -1px 26px -18px #888888;
                        margin: 0 0 10px 0;
                      "
                    >
                      <img
                        src="##NBFCLOGO##"
                        width="140"
                        alt="Logo"
                        title="Logo"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <!-- content 1  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #fafaff;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 80%;
                    font-size: 14px;
                    color: #000000;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="padding: 20px 0 0 0">Dear<b> ##name##,</b></td>
                    </tr>
                    <tr>
                      <td
                        style="
                          padding: 20px 0 0 0;
                          line-height: 20px;
                          text-align: justify;
                        "
                      >
                        We are writing to bring to your attention that your loan
                        account with ##NBFCSHORTNAME## is currently overdue, and
                        we have not received your scheduled payment for the
                        month of
                        <b> ##month##.</b> It is essential to address this
                        matter promptly to avoid any further complications.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div
                style="
                  padding-top: 20px;
                  max-width: 800px;
                  background-color: #fafaff;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 80%;
                    font-size: 14px;
                    color: #000000;
                    line-height: 30px;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="width: 180px; font-weight: bold">
                        Loan details :
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 180px">Loan ID :</td>
                      <td style="font-weight: bold">##loanId##</td>
                    </tr>
                    <tr>
                      <td style="width: 180px">Loan amount :</td>
                      <td style="color: #ff0000; font-weight: bold">
                        ₹##loanAmount##
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 180px">Overdue amount :</td>
                      <td style="color: #ff0000; font-weight: bold">
                        ₹##overdueAmount##
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 180px">Due date :</td>
                      <td style="color: #ff0000; font-weight: bold">
                        ##dueDate##
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <!-- content 2  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #fafaff;
                  color: #000000;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 100%;
                    font-size: 14px;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="padding: 0 80px; line-height: 20px">
                        <div style="margin-top: 20px; text-align: justify">
                          As of today, your payment is
                          <b style="color: #ff0000">
                            ##dueday##Day’s overdue,</b
                          >
                          and we understand that unforeseen circumstances can
                          sometimes affect financial obligations. We are
                          committed to helping you find a solution to resolve
                          this matter.
                        </div>

                        <div style="margin-top: 20px; text-align: justify">
                          Please reply to this email or call our customer
                          service team at
                          <b>
                            <a
                              style="color: #000000; text-decoration: underline"
                              href="https://wa.link/28p6me"
                              >##COLLECTIONNUMBER##
                            </a></b
                          >
                          to discuss your situation or to make a payment
                          arrangement.
                        </div>

                        <div style="margin-top: 20px; text-align: justify">
                          Thank you for choosing ##NBFCSHORTNAME##, and we are
                          here to support you in resolving this situation.
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <!-- buttons & footer  -->
          <tr>
            <td style="background-color: #fafaff">
              <div
                style="
                  padding: 20px 0;
                  max-width: 800px;
                  margin: auto;
                  text-align: center;
                  font-size: 14px;
                "
              >
                <span style="padding-top: 15px; cursor: pointer">
                  <button
                    style="
                      background-color: #ffffff;
                      border-radius: 10px;
                      padding: 10px 20px;
                      min-width: 160px;
                      border: 2px solid #ff0000;
                      cursor: pointer !important;
                      margin-right: 5px;
                      letter-spacing: 1px;
                      font-weight: bold;
                      color: #ff0000;
                    "
                  >
                    <a
                      href="##link##"
                      style="color: #ff0000; text-decoration: none"
                    >
                      PAY NOW
                      <img
                        width="15px"
                        src="https://storage.googleapis.com/backend_static_stuff/1698649420385.png"
                        alt=""
                      />
                    </a>
                  </button>
                </span>
              </div>

              <div>
                <div style="padding-left: 80px; color: #000000">
                  <div style="margin: 15px 0 0; font-size: 14px">
                    Warm regard!
                  </div>
                  <div style="margin: 10px 0 35px">TEAM ##NBFCSHORTNAME##</div>
                </div>
              </div>
              <div style="margin: auto; max-width: 800px; color: #fff">
                <div
                  style="
                    background-color: #000000;
                    margin: auto;
                    padding: 10px;
                    text-align: center;
                    font-size: 12px;
                  "
                >
                  For more information, visit our website :
                  <b
                    ><u>
                      <a
                        style="cursor: pointer; color: #ffffff"
                        href="##NBFCURL##"
                      >
                        ##NBFCURL##
                      </a></u
                    ></b
                  >
                  / T&C apply
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
