<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </header>

  <body
    style="padding: 0; margin: 0; background-color: #d9d9d9; color: #000000"
  >
    <table style="width: 100%; margin: auto; height: 100vh">
      <tbody>
        <tr>
          <td>
            <table
              style="
                background-color: #fff;
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                max-width: 650px;
                width: 100%;
                font-family: Work Sans, sans-serif;
                height: 70px;
              "
            >
              <tbody>
                <tr>
                  <td style="margin: auto; text-align: center; padding: 20px">
                    <div style="padding: 10px">
                      <img src="https://storage.googleapis.com/backend_static_stuff/Failed.svg" alt="failed" />
                    </div>
                    <div
                      style="padding: 10px; font-size: 16px; font-weight: bold"
                    >
                      <span>Payment Failed!</span>
                    </div>
                    <span style="padding: 10px; opacity: 0.5; font-size: 12px">
                      Sorry! Your payment has been failed. Please try
                      again.</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>