<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table style="width: 100%" cellpadding="0" cellspacing="0">
        <tbody>
          <!-- header  -->
          <tr>
            <td>
              <table
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 100%;
                  background-color: #ffffff;
                "
                cellpadding="0"
                cellspacing="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        box-shadow: 7px -1px 26px -18px #888888;
                        margin: 0 0 10px 0;
                      "
                    >
                      <img
                        src="##NBFCLOGO##"
                        width="140"
                        alt="Logo"
                        title="Logo"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <!-- content 1  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #ffffff;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 80%;
                    font-size: 14px;
                    color: #000000;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="font-weight: bold; padding: 20px 0 0 0">
                        Dear ##NAME##,
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 0 0 0">
                        This is a reminder email for your loan repayment which
                        is due on
                        <b>##DUEDATE##</b> of amount
                        <b style="color: #008000">Rs. ##DUEAMOUNT##/-</b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <!-- content 2  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #ffffff;
                  color: #000000;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 100%;
                    font-size: 14px;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="padding: 20px 0 0 0">
                        <div
                          style="
                            text-align: center;
                            color: #008000;
                            font-size: 12px;
                            background-color: #e6f3e6;
                            max-width: 100%;
                            padding: 15px 0;
                          "
                        >
                          Always pay on time to avoid penalty charges, delayed
                          payments are reported to the credit bureaus.
                        </div>

                        <div
                          style="
                            text-align: center;
                            padding-top: 20px;
                            font-weight: bold;
                            color: #000000;
                          "
                        >
                          Please ignore this message if you have already paid.
                        </div>

                        <div style="padding-left: 80px; color: #000000">
                          <div style="margin: 20px 0 10px 0">Thanks you .</div>
                          <div style="margin: 10px 0">Regards,</div>
                          <div style="margin: 10px 0 30px">
                            Team ##NBFCSHORTNAME##.
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <!-- buttons & footer  -->
          <tr>
            <td>
              <div
                style="
                  padding: 20px 0;
                  max-width: 800px;
                  margin: auto;
                  text-align: center;
                  font-size: 12px;
                "
              >
                <div style="padding-top: 15px; cursor: pointer">
                  <a
                    href="##link##"
                    style="
                      color: #ffffff;
                      border-radius: 10px;
                      padding: 10px 40px;
                      width: 160px;
                      background-color: #008000;
                      border: 2px solid #008000;
                      margin-left: 5px;
                      letter-spacing: 1px;
                      font-weight: bold;
                      margin: auto;
                      cursor: pointer;
                      text-decoration: none;
                    "
                    >PAY NOW</a
                  >
                </div>
              </div>
              <div style="margin: auto; max-width: 800px; color: #fff">
                <div
                  style="
                    background-color: #000000;
                    margin: auto;
                    padding: 10px;
                    text-align: center;
                    font-size: 12px;
                  "
                >
                  ##NBFCINFO##
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
