<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </header>
  <!-- #f6fbff -->
  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table style="width: 100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <table
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 100%;
                  background-color: #fafaff;
                "
                cellpadding="0"
                cellspacing="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        box-shadow: 7px -1px 26px -18px #888888;
                        margin: 0 0 10px 0;
                      "
                    >
                      <img
                        src="##NBFCLOGO##"
                        width="140"
                        alt="Logo"
                        title="Logo"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #fafaff;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 85%;
                    font-size: 14px;
                    text-align: justify;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="padding: 20px 10px 0 10px">
                        Dear,
                        <span style="font-weight: bold">##NAME##</span>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 10px 0 10px">
                        <p>
                          We wanted to kindly remind you about the promise to
                          make a payment that is due Today,
                          <span style="font-weight: bold; color: #ff0000"
                            >##DATE##.</span
                          >
                        </p>
                        <p>
                          As per our previous conversation, we are expecting the
                          payment of
                          <span style="font-weight: bold; color: #ff0000"
                            >₹##AMOUNT##</span
                          >
                          to be paid by tomorrow. If you have already made the
                          payment, please accept our gratitude and disregard
                          this reminder.
                        </p>
                        <p>
                          However, if you haven't had the chance to make the
                          payment yet, we kindly ask you to process it as soon
                          as possible to avoid any inconvenience. Should you
                          require any assistance or encounter any challenges,
                          please don't hesitate to reach out to us via WhatsApp
                          or Call our customer support team at
                          <a
                            href=""
                            style="
                              font-weight: bold;
                              text-decoration: none;
                              color: #000000;
                            "
                            >##AGENTPHONE##</a
                          >
                          Email ID:
                          <a href="" style="color: #000000; font-weight: bold"
                            >##COLLECTIONEMAIL##
                          </a>
                        </p>
                        <p>
                          Your prompt attention to this matter is greatly
                          appreciated, and we look forward to continuing our
                          positive working relationship.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px">
                        <div
                          style="
                            background-color: #071818;
                            padding: 15px;
                            font-size: 14px;
                            border-radius: 8px;

                            font-weight: bold;
                            width: 120px;
                            text-align: center;
                            vertical-align: middle;
                            margin: auto;
                            cursor: pointer;
                          "
                        >
                          <a
                            href="##PAYNOW##"
                            style="color: #ffffff; text-decoration: none"
                          >
                            PAY NOW
                            <img
                              src="https://storage.googleapis.com/backend_static_stuff/1698662489733.png"
                              alt="forward_arrow"
                              height="8px"
                              width="16px"
                            />
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 10px">
                        <p>Warm regards,</p>
                        <p style="font-weight: bold">
                          ##NBFCSHORTNAME## Support Team
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="margin: auto; max-width: 800px; color: #ffffff">
                <div
                  style="
                    background-color: #000000;
                    margin: auto;
                    padding: 12px;
                    text-align: center;
                    font-size: 12px;
                  "
                >
                  ##NBFCINFO##
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
