<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table style="width: 100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td
              style="
                text-align: center;
                box-shadow: 7px -1px 26px -18px #888888;
                margin: 0 0 10px 0;
              "
            >
              <img src="##NBFCLOGO##" width="140" alt="Logo" title="Logo" />
            </td>
          </tr>
          <!-- content 2  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #ffffff;
                  color: #000000;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 100%;
                    font-size: 14px;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <body
                    style="
                      padding: 0;
                      margin: 0;
                      font-family: 'Lexend', sans-serif;
                    "
                  >
                    <div style="max-width: 800px; margin: auto">
                      <div
                        style="
                          background-color: #ffffff;
                          color: #000000;
                          padding: 20px;
                        "
                      >
                        <p style="font-weight: bold; margin-bottom: 10px">
                          Dear ##fullName##,
                        </p>
                        <p>Greetings of the day!</p>

                        <p>
                          This mail is to inform you that ##NBFCNAME## is
                          introducing an essential update on EMI payment terms.
                        </p>

                        <p>
                          Effective from 1st April 2024, according to the latest
                          guidelines from the RBI, if there is a delay in the
                          payment of EMI, Penal Charges will be imposed on the
                          overdue principal amount for the duration of the
                          delay.
                        </p>

                        <p>
                          It's important to note that this update will redefine
                          terms such as 'Penal Interest', 'Additional Interest',
                          or 'Overdue Interest' mentioned in the existing loan
                          agreement, Sanction Letter, Key Fact Statements, or
                          any other loan document. From 1st April 2024, these
                          terms will collectively be referred to as 'Penal
                          Charges' for delayed EMI payments or outstanding
                          amounts. Additionally, Penal Charges will be subject
                          to GST as applicable.
                        </p>

                        <p>
                          Please take note of this significant update and plan
                          your EMI payments accordingly to avoid any Penal
                          Charges. Moreover, we invite you to visit our
                          application for a detailed understanding of how these
                          Penal Charges will be applied.
                        </p>

                        <p>
                          Thank you for your attention to this matter and your
                          continued trust in ##NBFCNAME##. If you have any
                          questions, contact us through our customer support
                          channels.
                        </p>
                      </div>
                    </div>
                  </body>
                </table>
              </div>
            </td>
          </tr>

          <!-- buttons & footer  -->
          <tr>
            <td>
              <div
                style="
                  font-weight: bold;
                  padding: 0px 20px;
                  color: #000000;
                  text-align: left;
                "
              >
                <p style="margin-top: 0px">Generous regards,</p>
                <p style="margin-bottom: 0px">##NBFCNAME##</p>
              </div>
              <div
                style="
                  padding: 20px 0;
                  max-width: 800px;
                  margin: auto;
                  text-align: left;
                  font-size: 12px;
                "
              ></div>
              <div style="margin: auto; max-width: 800px; color: #fff">
                <div
                  style="
                    background-color: #000000;
                    margin: auto;
                    padding: 10px;
                    text-align: center;
                    font-size: 12px;
                  "
                >
                  ##NBFCINFO##
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
