<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </header>
  <style>
    body {
      font-family: 'Lexend';
    }
  </style>

  <body style="padding: 0; margin: 0">
    <div style="position: relative"></div>
    <table
      style="
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-family: Lexend;
        font-size: 14px;
        background-color: #f6f6f6;
      "
    >
      <tbody>
        <tr>
          <td style="background-color: #d8d8d8"></td>
        </tr>
        <tr>
          <td>
            <table
              style="margin: auto; max-width: 900px; width: 100%"
              cellpadding="0"
              cellspacing="0"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      text-align: center;
                      box-shadow: 7px -1px 26px -18px #888888;
                      background-color: #ffffff;
                      padding: 10px;
                    "
                  >
                    <img
                      src="##NBFCLOGO##"
                      width="140"
                      alt="Logo"
                      title="Logo"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table
              style="
                margin: auto;
                max-width: 900px;
                width: 100%;
                font-size: 14px;
              "
              cellpadding="0"
              cellspacing="0"
            >
              <tbody style="background-color: #ffffff; padding-top: 20px">
                <tr>
                  <td
                    style="
                      font-weight: bold;
                      padding: 40px 20px 0 20px;
                      text-align: center;
                      font-size: 20px;
                    "
                  >
                    Dear ##NAME##
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      padding: 20px;
                      text-align: justify;
                      text-align: center;
                    "
                  >
                    <div style="padding-bottom: 10px">
                      You've entered <b>"##EMAIL##"</b> as the registered email
                      for your account with us.
                    </div>
                    <div>
                      Please click on the button below to verify your email
                      address.
                    </div>
                    <div style="text-align: center; margin: 30px">
                      <a
                        href="##LINK##"
                        target="_blank"
                        style="
                          padding: 10px 30px;
                          border: 1px solid #008000;
                          background: #008000;
                          text-decoration: none;
                          color: #fff;
                          letter-spacing: 2;
                          font-weight: bold;
                        "
                      >
                        Verify E-mail address
                      </a>
                    </div>
                    <div style="padding: 15px 0">
                      --------------------------------- OR
                      ---------------------------------
                    </div>
                    <div style="padding: 10px">
                      Copy and paste the below URL in your browser.
                    </div>
                    <div style="padding: 10px">
                      <a href="##LINK##" target="_blank">##LINK##</a>
                    </div>
                    <div
                      style="
                        margin: auto;
                        width: max-content;
                        border: 1px solid #f2f2f2;
                        background: #f2f2f2;
                        padding: 10px 30px;
                        font-size: 12px;
                        text-align: center;
                        margin-top: 20px;
                      "
                    >
                      <span>
                        Your link is active for ##HOUR## hours. After that, you
                        will need to resend the verification email.</span
                      >
                    </div>
                    <div style="padding: 15px 0; background-color: white">
                      This is to acknowledge that
                      <b>##NBFCSHORTNAME##</b> is in receipt of your loan
                      application details and you have 7 business days for
                      completion. If details are not received within 7 business
                      days, ##NBFCSHORTNAME## may dispose your application
                      without prior notice.
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              style="margin: auto; max-width: 900px; width: 100%"
              cellpadding="0"
              cellspacing="0"
            >
              <tbody style="background-color: #ffffff; padding-top: 20px">
                <tr>
                  <td
                    style="
                      padding: 10px;
                      text-align: center;
                      font-size: 14px;
                      color: #ffffff;
                      background-color: #000;
                    "
                  >
                    <div>
                      <span style="opacity: 0.6"
                        >For more information, visit our website :</span
                      >
                      <a
                        href="##NBFCLINK##"
                        target="_blank"
                        style="color: #fff; text-decoration: none"
                      >
                        ##NBFCLINK##
                      </a>
                      / T&C apply
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
