<html>
  <header>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap'
      rel='stylesheet'
    />
    <style>
      .body { font-family: "Lexend"; }
    </style>
  </header>
  <body style='padding: 0; margin: 0'>
    <table style='width: 100%; overflow-y: scroll; border-collapse: collapse'>
      <tbody>
        <tr>
          <td>
            <table
              style='
                max-width: 725px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              '
            >
              <tbody>
                <tr>
                  <td style='height: 80px'>
                    <div style='margin-top: 18px; margin-bottom: 8px'>
                      <img width='165px' height='40px' src='{{nbfcLogo}}' />
                    </div>
                    {{#cIf showLendingPartner}}
                      <div style='font-size: 12px; margin-bottom: 18px'>
                        Lending Partner :
                        {{appName}}
                      </div>
                    {{/cIf}}
                  </td>
                  <td style='padding: 0 0px 0 0; width: 400px'>
                    {{#cIf isStamp}}
                      <div
                        style='color: #fff; font-size: 14px; text-align: end'
                      >
                        Certificate No :
                        {{stampNumber}}
                      </div>
                    {{/cIf}}
                    <div
                      style='
                        font-size: 12px;
                        text-align: end;
                        margin: 5px 0 0 0;
                      '
                    >
                      {{nbfcAddress}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td
            style='background-color: #e02d42; height: 2px; margin-top: -2px'
          ></td>
        </tr>
        <tr>
          <td>
            <div
              style='
                padding: 10px 30px 10px 30px;
                text-align: right;
                font-size: 10px;
              '
            >
              <b>पेज की निरंतरता में 1</b>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table
              style='
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                width: 100%;
                font-family: Lexend;
                height: 100%;
              '
            >
              <tbody>
                <tr>
                  <td style='padding: 10px 30px; font-size: 12px'>
                    <div style='font-weight: 600; padding: 10px 0 0 0'>
                      <div
                        style='
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                          font-weight: 700;
                        '
                      >
                        6.
                      </div>
                      <div style='padding-inline-start: 50px; font-weight: 700'>
                        ऋणदाता के अधिकार, शक्तियां और उपाय:
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          1.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ऋणदाता ग्रहणाधिकार या वापसी करने के अधिकार का प्रयोग
                          कर सकता है उधारकर्ता के किसी भी दायित्व के संबंध में
                          ऋणदाता वैसे ही जैसे दायित्व थे असुरक्षित और सभी
                          संपत्ति/ऋण पर ग्रहणाधिकार होगा उधारकर्ता या
                          प्रतिभूतियों के किसी भी खाते में शेष राशि ऋणदाता के
                          कब्जे में दिया गया उधारकर्ता का या अभिरक्षा चाहे
                          सुरक्षित रखने के लिए हो या अन्यथा।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          2.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          यदि ऋणदाता द्वारा मांग करने पर, शेष राशि बकाया है ऋण
                          राशि निर्धारित सीमा के भीतर नहीं चुकाई जाती है समय,
                          किसी भी खाते में ऐसा क्रेडिट बैलेंस हो सकता है
                          उधारकर्ता के ऋण के तहत बकाया राशि के लिए समायोजित
                          खाता।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          3.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          किसी भी घाटे की स्थिति में घाटे की राशि हो सकती है
                          ऋणदाता द्वारा उधारकर्ता से वसूल किया गया।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          4.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ऋणदाता द्वारा विफलता या देरी के लिए कोई भी रोक इसके
                          तहत किसी भी अधिकार, शक्ति या उपाय का प्रयोग करना होगा
                          ऐसे अधिकार, शक्ति या की छूट नहीं मानी जाएगी उपाय और
                          किसी का एक या आंशिक अभ्यास यहां दिए गए अधिकार, शक्ति
                          या उपाय को रोका नहीं जाएगा उसके आगे के अभ्यास और हर
                          अधिकार और ऋणदाता का उपाय पूरी ताकत से जारी रहेगा
                          प्रभाव तब तक है जब तक ऐसा अधिकार, शक्ति या उपाय न हो
                          विशेष रूप से लिखित रूप में एक उपकरण द्वारा माफ कर दिया
                          गया ऋणदाता द्वारा निष्पादित.
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          5.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ऋणदाता के अधिकार और उपाय होंगे संचयी और अकेले, क्रमिक
                          रूप से, या आगे बढ़ाया जा सकता है एक साथ, ऋणदाता के
                          पूर्ण विवेक पर।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          6.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          आपके द्वारा ऋण चुकाने में असफल होने की स्थिति में
                          ऋणदाता निर्धारित समय में किश्तें चुकाएगा के लिए आपको
                          आपके पंजीकृत मोबाइल नंबर पर सूचित करें किस्त का
                          भुगतान. हालाँकि, नहीं के मामले में आपके नंबर से
                          प्रतिक्रिया के लिए ऋणदाता ही संपर्क करेगा आप समय पर
                          भुगतान के लिए.
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          7.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          उधारकर्ता सहमत है और अनुमति प्रदान करता है ऋणदाता
                          विभिन्न डिजिटल संचार चैनलों का उपयोग करें, जिसमें
                          एसएमएस, ईमेल, व्हाट्सएप और नियमित पोस्ट शामिल हैं
                          विशेष रूप से ईएमआई देय तिथियों के संबंध में संपर्क
                          करें। यदि दस्तावेज़ हों तो ऋणदाता नियोक्ता से संपर्क
                          करेगा आवेदन के समय उपलब्ध कराए गए विवरण अस्पष्ट हैं।
                          रोजगार के लिए नियोक्ता से ही संपर्क किया जाएगा केवल
                          सत्यापन प्रयोजनों के लिए।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          8.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          विफल भुगतान के मामले में, ऋणदाता सब कुछ रोक लेता है
                          उधारकर्ता के बैंक खाते पर प्रत्यक्ष डेबिट लागू करने का
                          अधिकार जब भी आवश्यक हो, सभी बकाया राशि तक उधारकर्ता
                          द्वारा दूसरे के माध्यम से वसूल किया जाता है या भुगतान
                          किया जाता है मतलब। उधारकर्ता सहमत हैं कि वे जिम्मेदार
                          होंगे अपने स्वयं के बैंक द्वारा किसी भी और सभी शुल्कों
                          के लिए या प्रत्यक्ष के दौरान ऋणदाता द्वारा किए गए
                          परिवर्तन डेबिट.
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          9.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ऋणदाता ब्याज को संशोधित करने का हकदार होगा किसी भी समय
                          और समय-समय पर उसके अनुसार रेट करें पॉलिसी, यदि कोई हो,
                          ऋण अवधि के दौरान, पूरी तरह से विवेकाधिकार या विनियामक
                          में परिवर्तन के कारण किसी भी दिशानिर्देश/विनियम सहित
                          आवश्यकताएँ आरबीआई द्वारा जारी किया जाएगा और ऐसी
                          संशोधित ब्याज दर होगी इसे ऋण का हिस्सा माना जाएगा और
                          उधारकर्ता ऐसा करेगा ब्याज की ऐसी संशोधित राशि का
                          भुगतान करने के लिए भी उत्तरदायी होगा ऋण पर इस प्रकार
                          और ऐसी अवधि के भीतर ऋणदाता द्वारा इसके आधार पर
                          निर्धारित किया जा सकता है विवेक। या उधारकर्ता अपना
                          भुगतान करना चुन सकता है इन संशोधित दरों से बचने के लिए
                          ऋण राशि.
                        </div>
                      </div>
                    </div>
                    <div style='font-weight: 600; padding: 5px 0 0 0'>
                      <div
                        style='
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                          font-weight: 700;
                        '
                      >
                        7.
                      </div>
                      <div style='padding-inline-start: 50px; font-weight: 700'>
                        पुनर्प्राप्ति के गैर-जबरदस्ती तरीके :
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          1.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          पिछला बकाया भुगतान अनुस्मारक: उधारकर्ता को प्राप्त
                          होगा एसएमएस, ऐप नोटिफिकेशन के माध्यम से भुगतान
                          अनुस्मारक, व्हाट्सएप, ईमेल और कॉल (मैन्युअल और
                          स्वचालित दोनों)।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          2.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ईसीएस (डेबिट अधिदेश): ऋणदाता प्रयास करेगा नियत तिथि और
                          पोस्ट पर ईसीएस के माध्यम से धन एकत्र करें नियत तारीख।
                          ईसीएस भुगतान विफल होने की स्थिति में, सिस्टम द्वारा कई
                          प्रयास किए जाएंगे।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          3.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ईएमआई का विलंबित या गैर-चुकौती: देरी के मामले में 3 या
                          अधिक झूठे वादों के साथ पुनर्भुगतान में ऋण भुगतान,
                          ऋणदाता के प्रतिनिधि और/या ऋणदाता द्वारा नियुक्त
                          संग्रहण एजेंसियाँ होंगी उधारकर्ता के खाते से पैसे
                          इकट्ठा करने का प्रयास और स्थिति पर चर्चा करने के लिए
                          केवल उसी से संपर्क करें। सभी चर्चाएं आपसी सहमति के साथ
                          बहुत विनम्रता से की जाएंगी।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          4.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ईमेल संपर्क: द्वारा प्रदान की गई जानकारी के आधार पर
                          उधारकर्ता, ऋणदाता और/या संग्रह एजेंसियां ऋणदाता द्वारा
                          नियुक्त को ईमेल भेजने का प्रयास किया जाएगा आप तक
                          पहुँचने के प्रयास में सभी उपलब्ध ईमेल आईडी या अपनी
                          स्थिति को समझने के लिए.
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          5.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          व्यक्तिगत मुलाक़ात: उधारकर्ता से व्यक्तिगत रूप से
                          मुलाक़ात की जाएगी ऋणदाता द्वारा नियुक्त संग्रह
                          एजेंसियों में से एक उधारकर्ता के / कार्यस्थल से बकाया
                          राशि एकत्र करने के लिए आएगा।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          6.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          क्रेडिट ब्यूरो रिपोर्टिंग: यदि उधारकर्ता भुगतान करने
                          में विफल रहते हैं नियत तिथि पर या उससे पहले भुगतान,
                          उनका भुगतान इतिहास क्रेडिट रिपोर्टिंग एजेंसियों को
                          सूचित किया जाएगा।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          7.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          डिफ़ॉल्ट ऋण: यदि उधारकर्ता अपने सभी ऋणों पर चूक करता
                          है ईएमआई भुगतान के परिणामस्वरूप गंभीर कानूनी परिणाम
                          होंगे जिसमें उधारकर्ता कि खिलाफ कानूनी कार्रवाई भी
                          शामिल है।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          8.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          आप सभी नियम एवं शर्तों से सहमत हैं. अगर आप ऐसा न करें,
                          तो कृपया प्रक्रिया रोकें और अस्वीकार करें कर्ज के लिए
                          आवेदन।
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      style='
        font-size: 10px;
        bottom: 5px;
        position: fixed;
        right: 0;
        padding: 10px 30px 5px 0px;
        text-align: right;
      '
    >
      <b>पृष्ठ 2</b>
    </div>
  </body>
</html>