<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />

    <style>
      .body {
        font-family: 'Lexend';
      }
    </style>
  </header>

  <body style="padding: 0; margin: 0">
    <table style="width: 100%; overflow-y: scroll; border-collapse: collapse">
      <tbody>
        <tr>
          <td>
            <table
              style="
                max-width: 725px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              "
            >
              <tbody>
                <tr>
                  <td style="height: 80px">
                    <div style="margin-top: 18px; margin-bottom: 8px">
                      <img width="165px" height="40px" src="{{nbfcLogo}}" />
                    </div>
                    {{#cIf showLendingPartner}}
                    <div style="font-size: 12px; margin-bottom: 18px">
                      Lending Partner : {{appName}}
                    </div>
                    {{/cIf}}
                  </td>

                  <td style="padding: 0 0px 0 0; width: 400px">
                    {{#cIf isStamp}}
                    <div style="color: #fff; font-size: 14px; text-align: end">
                      Certificate No : {{stampNumber}}
                    </div>
                    {{/cIf}}
                    <div
                      style="
                        font-size: 12px;
                        text-align: end;
                        margin: 5px 0 0 0;
                      "
                    >
                      {{nbfcAddress}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td
            style="background-color: #e02d42; height: 2px; margin-top: -2px"
          ></td>
        </tr>
        <tr>
          <td>
            <div
              style="
                padding: 10px 30px 10px 30px;
                text-align: right;
                font-size: 10px;
              "
            >
              <b>In continuation to page 1</b>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table
              style="
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                width: 100%;
                font-family: Lexend;
                height: 100%;
              "
            >
              <tbody>
                <tr>
                  <td style="padding: 10px 30px; font-size: 12px">
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px">5.</div>
                      <div style="padding-inline-start: 20px">
                        The Borrower represents and warrants that he/she shall
                        not close his/her bankaccount without prior intimation
                        to Lender and in case such an account is closed, the
                        Borrower shall immediately inform the Lender regarding
                        the same. Any breach of the aforementioned clause shall
                        be considered as a material breach of the Borrower.
                      </div>
                    </div>
                    <div style="font-weight: 600; padding: 10px 0 0 0">
                      <div
                        style="
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                          font-weight: 700;
                        "
                      >
                        6.
                      </div>
                      <div style="padding-inline-start: 50px; font-weight: 700">
                        Right, powers and remedies of the Lender:
                      </div>

                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          1.
                        </div>
                        <div style="padding-inline-start: 40px">
                          The Lender may exercise a lien or right to set–off
                          with respect to any obligation of the Borrower on the
                          Lender in the same manner as if the obligations were
                          unsecured and shall have a lien on all property/credit
                          balance in any account of the Borrower or securities
                          of the Borrower given in the Lender’s possession or
                          custody whether for safe-keeping or otherwise.
                        </div>
                      </div>

                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          2.
                        </div>
                        <div style="padding-inline-start: 40px">
                          If upon demand by the Lender, the balance outstanding
                          in the Loan Amount is not repaid within the prescribed
                          time,such credit balance in any account may be
                          adjusted towards dues under the Borrower’s Loan
                          account.
                        </div>
                      </div>

                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          3.
                        </div>
                        <div style="padding-inline-start: 40px">
                          In case of any deficit,the deficit amount may be
                          recovered by the Lender from the Borrower.
                        </div>
                      </div>

                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          4.
                        </div>
                        <div style="padding-inline-start: 40px">
                          Any forbearance of failure or delay by the Lender in
                          exercising any right, power or remedy hereunder shall
                          not be deemed to be waiver of such right, power or
                          remedy and any single or partial exercise of any
                          right, power or remedy hereunder shall not preclude
                          the further exercise thereof and every right and
                          remedy of the Lender shall continue in full force and
                          effect until such right,power or remedy is
                          specifically waived by an instrument in writing
                          executed by the Lender.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          5.
                        </div>
                        <div style="padding-inline-start: 40px">
                          The rights and remedies of the Lender shall be
                          cumulative and may be pursued singly,successively, or
                          together, at the sole discretion of the Lender.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          6.
                        </div>
                        <div style="padding-inline-start: 40px">
                          In the event of your failure to repay loan
                          installments in the stipulated time, the lender will
                          inform you on your registered mobile number for
                          payment of the installment. However, in case of no
                          response from your number the lender will only contact
                          you for timely payments.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          7.
                        </div>
                        <div style="padding-inline-start: 40px">
                          The Borrower agrees and provides permission to the
                          Lender to use various digital communication channels,
                          including SMS, Email, WhatsApp & regular post, to
                          contact, particularly concerning EMI due dates. The
                          Lender will contact the employer if the documents
                          provided at the time of application are unclear. The
                          employer will be contacted solely for employment
                          verification purposes only.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          8.
                        </div>
                        <div style="padding-inline-start: 40px">
                          In case of failed payments, Lender hold's all the
                          rights to apply direct debit on borrowers bank account
                          as and when required till all the outstanding amount
                          gets recovered or paid by borrower through other
                          means. Borrower agrees that they will be responsible
                          for any and all the charges by their own bank or
                          changes which are incurred by the Lender during direct
                          debits.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          9.
                        </div>
                        <div style="padding-inline-start: 40px">
                          The Lender shall be entitled to revise the Interest
                          Rate at any time and from time to time as per its
                          policy, if any, during the Loan Tenure, at its sole
                          discretion or due to change in the regulatory
                          requirements including any guidelines/regulations
                          issued by RBI and such revised Interest Rate shall be
                          deemed to form part of the Loan and the Borrower shall
                          also be liable to pay such revised amount of interest
                          on the Loan in such manner and within such period as
                          may be determined by the Lender in its sole
                          discretion. Or borrower can choose to payoff their
                          loan amount to avoid these revised rates.
                        </div>
                      </div>
                    </div>

                    <div style="font-weight: 600; padding: 5px 0 0 0">
                      <div
                        style="
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                          font-weight: 700;
                        "
                      >
                        7.
                      </div>
                      <div style="padding-inline-start: 50px; font-weight: 700">
                        Non-Coercive Methods of Recovery:
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          1.
                        </div>
                        <div style="padding-inline-start: 40px">
                          Past Due Payment reminders: Borrower will receive
                          payment reminders through SMS, App notifications,
                          WhatsApp, emails and calls (both manual & automated).
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          2.
                        </div>
                        <div style="padding-inline-start: 40px">
                          ECS (Debit Mandate): The lender will attempt to
                          collect the money through ECS on the due date and post
                          the due date. In the event of failed ECS payments,
                          there will be multiple attempts made by the system.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          3.
                        </div>
                        <div style="padding-inline-start: 40px">
                          Delayed or Non-Repayments of EMIs: In case of a delay
                          in repayment along with 3 or more false promises of
                          loan payment, the representatives of the Lender and/or
                          collection agencies appointed by the lender will
                          attempt to collect money from the borrower’s account
                          and contact only him/her to discuss the situation. All
                          the discussions will be conducted in a very polite
                          manner with mutual consent.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          4.
                        </div>
                        <div style="padding-inline-start: 40px">
                          Email Contact: Based on the information provided by
                          the borrower, Lender and/or collection agencies
                          appointed by the lender will attempt to send emails to
                          all the available email ids in an attempt to reach you
                          or to understand your situation.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          5.
                        </div>
                        <div style="padding-inline-start: 40px">
                          In-person visit: Borrower will be visited in person by
                          one of the collection agencies appointed by the Lender
                          to collect the due amount from the borrower’s home
                          and/or work.
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div
                          style="float: left; width: 10px; margin-left: 20px"
                        >
                          6.
                        </div>
                        <div style="padding-inline-start: 40px">
                          Credit bureau reporting: If borrowers fail to make
                          payment on or before the due date, their payment
                          history will be reported to credit reporting agencies.
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      style="
        font-size: 10px;
        bottom: 5px;
        position: fixed;
        right: 0;
        padding: 10px 30px 5px 0px;
        text-align: right;
      "
    >
      <b>Page 2</b>
    </div>
  </body>
</html>
