<html>
  <header>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap'
      rel='stylesheet'
    />
    <style>
      .body { font-family: "Lexend"; }
    </style>
  </header>
  <body style='padding: 0; margin: 0'>
    <table
      style='
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-family: Lexend;
      '
    >
      <tbody>
        <tr>
          <td>
            <table
              style='
                max-width: 725px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              '
            >
              <tbody>
                <tr>
                  <td style='height: 80px'>
                    <div style='margin-top: 18px; margin-bottom: 8px'>
                      <img width='165px' height='40px' src={{nbfcLogo}} />
                    </div>
                    {{#cIf showLendingPartner}}
                      <div style='font-size: 12px; margin-bottom: 18px'>
                        Lending Partner :
                        {{appName}}
                      </div>
                    {{/cIf}}
                  </td>
                  <td style='padding: 0 0px 0 0; width: 400px'>
                    <div
                      style='
                        font-size: 12px;
                        text-align: end;
                        margin: 5px 0 0 0;
                      '
                    >
                      {{nbfcAddress}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td
            style='background-color: #e02d42; height: 2px; margin-top: -2px'
          ></td>
        </tr>

        <tr style='font-size: 12px; margin: 40px 30px 15px 30px; display: flex'>
          <td>
            <div style='text-align: center'>
              <strong>GRIEVANCE REDRESSAL MECHANISM OF THE PLATFORM</strong>
            </div>
            <p>
              Customer experience is extremely important for sustained business
              growth and as an organization
              {{nbfcName}}. Strives to ensure that our customers receive
              exceptional service across different touch points.
            </p>
            <div>
              <strong>1. Purpose</strong>
            </div>
            <p>
              Customer complaints constitute an important voice of customers,
              and this policy details complaint handling through a structured
              grievance redressal framework. Complaint redressal is supported by
              a review mechanism to minimise the recurrence of similar issues in
              future.
            </p>
            <p>
              <strong>The Grievance Redressal policy follows the following
                principles:
              </strong>
            </p>
            <div>
              <ol type='a'>
                <li>Customers are treated fairly;</li>
                <br />
                <li>
                  Complaints raised by customers are dealt with courtesy and in
                  a timely manner;
                </li>
                <br />
                <li>
                  Customers are informed of avenues to escalate their complaints
                  within the organisation and their rights if they are not
                  satisfied with the resolution of their complaints;
                </li>
                <br />
                <li>
                  The employees work in good faith and without prejudice towards
                  the interests of the customers.
                </li>
                <br />
                <li>
                  Internal Machinery to handle Customer complaints and
                  prioritisation
                </li>
                <br />
                <li>
                  The Company has invested in the best-in-class LOS & CRM system
                  to ensure timely resolution of the grievances.
                </li>
                <br />
              </ol>
            </div>
            <p>
              The system captures the complaints; follows TATs based on the
              nature of the query and escalates issues on the basis of
              predefined TATs and as per the escalation matrix.
            </p>
            <p>
              Once captured in our internal system, customer care will be
              responsible for the resolution of complaints/grievances to the
              customer’s satisfaction within a period of fifteen (15) working
              days. Every attempt will be made to offer the customer suitable
              and appropriate alternate solutions wherever possible.
            </p>
            <p>
              However, if the customer continues to remain dissatisfied with the
              resolution, he/she can escalate the issue through the grievance
              redressal mechanism as referred below.
            </p>
          </td>
        </tr>
        <!-- 2 -->
        <tr style='font-size: 12px; margin: 15px 30px 15px 30px; display: flex'>
          <td>
            <div>
              <strong>2. Time Frame</strong>
            </div>
            <p>
              Suitable timelines of fifteen (15) working days have been set for
              every complaint depending upon the investigations that would be
              involved in resolving the same. Complaints are suitably
              acknowledged on receipt, and the customers are informed of delays
              if any, in the resolution.
            </p>
          </td>
        </tr>
        <!-- 2 -->
        <!-- 3 -->
        <tr style='font-size: 12px; margin: 15px 30px 15px 30px; display: flex'>
          <td>
            <div>
              <strong>3. Review & Monitoring</strong>
            </div>
            <p>
              Periodic review of monitoring of complaints, TATs, and nature of
              complaints will be done to ensure that process loopholes, if any,
              are plugged and trends are checked.
            </p>
          </td>
        </tr>
        <!-- 3 -->
      </tbody>
    </table>
    <div
      style='font-size: 10px; bottom: 5px; position: fixed; right: 0; padding: 10px 30px 5px 0px; text-align: right;'
    >
      <b>Page 1</b>
    </div>
  </body>
</html>