<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table
        style="
          width: 100%;
          background: linear-gradient(
            to bottom,
            #21127b 20%,
            #f4f4f4 0%
          ) !important;
        "
        cellpadding="0"
        cellspacing="0"
      >
        <tbody>
          <tr>
            <td>
              <table
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 90%;
                  padding: 20px 0;
                "
              >
                <td>
                  <tr>
                    <td>
                      <img src="##LSPLOGO##" alt="logo" />
                    </td>
                    <td
                      style="text-align: right; color: #ffffff; font-size: 12px"
                    >
                      <div>NBFC Partner:</div>
                      <div>##NBFCNAME##</div>
                      <div>##NBFCREGISTERATIONNUMBER##</div>
                    </td>
                  </tr>
                </td>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 90%;
                  font-size: 14px;
                  background: linear-gradient(
                    to bottom,
                    #ffffff 50%,
                    #ffffff 50%
                  ) !important;
                  border: 1px solid #f4f4f4;
                "
                cellpadding="0"
                cellspacing="0"
              >
                <table
                  style="
                    width: 100%;
                    font-size: 14px;
                    border-spacing: 0;
                    border: 1px solid #e5e5e5;
                  "
                >
                  <tbody>
                    <!-- header  -->
                    <tr>
                      <td>
                        <div
                          style="
                            margin: 30px 0;
                            font-size: 34px;
                            font-weight: bold;
                            text-align: center;
                          "
                        >
                          SPECIAL WAIVE-OFF OFFER
                        </div>
                      </td>
                    </tr>

                    <!-- Intro  -->
                    <tr>
                      <td>
                        <div style="font-weight: bolder; margin: 0px 70px">
                          Dear ##NAME##,
                        </div>
                        <div
                          style="
                            margin: 20px 70px;
                            font-size: 13px;
                            line-height: 18px;
                            color: #000000;
                            text-align: justify;
                          "
                        >
                          We hope this message finds you in good health. At
                          ##NBFCSHORTNAME## we understand that sometimes
                          unexpected circumstances can lead to delayed payments.
                          However we're excited to offer you a special
                          opportunity to resolve your outstanding penalties.
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div
                          style="
                            margin: 10px 70px 29px;
                            font-size: 13px;
                            line-height: 18px;
                            text-align: justify;
                          "
                        >
                          We are pleased to introduce our exclusive ##DISCOUNT_PR##% Penalty
                          Waive-off Promo Code, just for you! This limited-time
                          offer is designed to help you get back on track with
                          your payments while enjoying substantial savings.
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div style="text-align: center">
                          <b>Below is your promo code</b>
                        </div>
                        <div
                          style="
                            background-color: #f2f1f8;
                            padding: 40px 0px 25px;
                            margin-top: 30px;
                            text-align: center;
                          "
                        >
                          <div
                            style="
                              display: inline-block;
                              border: 2px solid #21127b;
                              color: #21127b;
                              border-radius: 50px;
                              overflow: hidden;
                              background-color: white;
                              font-size: 24px;
                            "
                          >
                            <div
                              style="padding: 10px 15px; display: inline-block"
                            >
                              <b>##PROMO_CODE##</b>
                            </div>
                            <div
                              style="
                                padding: 10px;
                                border-radius: 50px;
                                display: inline-block;
                                font-size: 24px;
                                background-color: #21127b;
                                color: white;
                              "
                            >
                              COPY
                            </div>
                          </div>
                          <div style="margin: 10px 0px; color: #21127b">
                            This code is valid till ##VALID_TILL_DATE##.
                          </div>
                        </div>
                      </td>
                    </tr>
                    <!-- table start -->
                    <tr>
                      <td>
                        <div style="padding-top: 24px; text-align: center">
                          <b>Payment details</b>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div
                          style="max-width: 800px; background-color: #ffffff"
                        >
                          <div
                            style="
                              padding-top: 10px;
                              max-width: 800px;
                              background-color: #ffffff;
                            "
                          >
                            <table
                              style="
                                margin: auto;
                                max-width: 530px;
                                width: 80%;
                                font-size: 12px;
                                color: #000000;
                                line-height: 32px;
                                border-collapse: collapse;
                                border: 1px solid #e7e7e7;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td colspan="2">##EMI##</td>
                                </tr>

                                <tr style="text-align: center">
                                  <td
                                    style="text-align: left; padding-left: 20px"
                                  >
                                    Total amount
                                  </td>
                                  <td
                                    style="
                                      text-align: right;
                                      padding-right: 20px;
                                      font-weight: bold;
                                    "
                                  >
                                    ₹##TOTAL_AMOUNT##
                                  </td>
                                </tr>
                                <tr style="text-align: center">
                                  <td
                                    style="text-align: left; padding-left: 20px"
                                  >
                                    Applied Waiver Amount
                                  </td>
                                  <td
                                    style="
                                      text-align: right;
                                      padding-right: 20px;
                                      font-weight: bold;
                                    "
                                  >
                                    ₹ -##DISCOUNT_AMOUNT##
                                  </td>
                                </tr>
                                <tr style="text-align: center">
                                  <td
                                    style="text-align: left; padding-left: 20px"
                                  >
                                    Total amount to repay
                                  </td>
                                  <td
                                    style="
                                      text-align: right;
                                      padding-right: 20px;
                                      font-weight: bold;
                                    "
                                  >
                                    ₹##REPAY_AMOUNT##
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <td>
                      <div
                        style="
                          padding: 10px;
                          margin-top: 10px;
                          text-align: center;
                        "
                      >
                        <a
                        href="##link##" 
                          target="_blank"
                          style="
                            padding: 10px 40px;
                            border-radius: 10px;
                            font-size: 12px;
                            color: white;
                            text-decoration: none;
                            background-color: #21127b;
                          "
                          >Pay Now</a
                        >
                      </div>
                    </td>
                    <!-- table end -->
                    <tr>
                      <td>
                        <div
                          style="
                            margin: 30px 70px;
                            line-height: 20px;
                            text-align: justify;
                          "
                        >
                          Don't miss out on this golden opportunity to resolve
                          your outstanding penalties and enjoy substantial
                          savings. This promo code is valid until
                          ##VALID_TILL_DATE##, so make sure you use it before it
                          expires.
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div
                          style="
                            margin: 0px 70px;
                            line-height: 20px;
                            text-align: justify;
                          "
                        >
                          If you have any questions or need assistance, our
                          dedicated customer support team is here to help.
                        </div>
                      </td>
                    </tr>
                    <td>
                      <div style="margin: 0px 70px">
                        <div style="margin-top: 30px">Best Regards,</div>
                        <div
                          style="
                            margin-top: 5px;
                            font-weight: bold;
                            font-size: 16px;
                          "
                        >
                          Team ##LSPSHORTNAME##
                        </div>
                      </div>
                    </td>
                    <!-- Footer -->
                    <tr>
                      <td style="padding: 0; border-spacing: 0">
                        <div
                          style="
                            background-color: #f2f1f8;
                            padding: 40px;
                            margin-top: 30px;
                            text-align: center;
                          "
                        >
                          <div style="font-weight: bolder; font-size: 12px">
                            © ##CURRENTYEAR## ##LSPSHORTNAME##. All rights
                            reserved.
                          </div>
                          <div style="margin-top: 20px; font-size: 13px">
                            You are receiving this mail because you have
                            registered to join the ##LSPSHORTNAME## platform as
                            a user. This also shows that you agree to our Terms
                            of use and Privacy Policies.
                          </div>

                          <hr
                            style="margin-top: 20px; width: 100%; opacity: 0.5"
                          />
                          <table
                            style="
                              padding-top: 10px;
                              font-size: 11px;
                              text-align: center;
                              margin: auto;
                              max-width: 800px;
                              width: 100%;
                            "
                          >
                            <tbody>
                              <tr
                                style="
                                  color: #000000;
                                  opacity: 0.5;
                                  font-weight: bold;
                                "
                              >
                                <td>TERMS OF USE & CONTACT US</td>
                              </tr>

                              <table
                                border="1"
                                style="
                                  width: 100%;
                                  background-color: #ffffff;
                                  border: 1px solid #e7e7e7;
                                  border-collapse: collapse;
                                  font-size: 12px;
                                  text-align: center;
                                  margin-top: 5px;
                                "
                              >
                                <tr style="padding: 10px">
                                  <td style="padding: 10px 5px">
                                    ##LSPSHORTNAME##
                                  </td>
                                  <td style="padding: 10px 5px">
                                    <a
                                      href="##LSPPRIVACYPOLICY##"
                                      target="_blank"
                                    >
                                      Privacy policy</a
                                    >
                                  </td>
                                  <td style="padding: 10px 5px">
                                    <a
                                      href="##LSPTERMCONDITION##"
                                      target="_blank"
                                    >
                                      Terms of service</a
                                    >
                                  </td>
                                  <td style="padding: 10px 5px">
                                    <a
                                      href="tel:##LSPHELPCONTACT##"
                                      style="text-decoration: none; color: #000"
                                      >##LSPHELPCONTACT##</a
                                    >
                                    /
                                    <a
                                      href="mailto:##LSPSUPPORTMAIL##"
                                      style="text-decoration: none; color: #000"
                                      >##LSPSUPPORTMAIL##</a
                                    >
                                  </td>
                                </tr>
                                <tr>
                                  <td style="padding: 10px 5px">
                                    ##NBFCSHORTNAME##
                                  </td>
                                  <td style="padding: 10px 5px">
                                    <a
                                      href="##NBFCPRIVACYPOLICY##"
                                      target="_blank"
                                    >
                                      Privacy policy</a
                                    >
                                  </td>
                                  <td style="padding: 10px 5px">
                                    <a
                                      href="##NBFCTERMCONDITION##"
                                      target="_blank"
                                    >
                                      Terms of service</a
                                    >
                                  </td>
                                  <td style="padding: 10px 5px">
                                    <a
                                      href="tel:##NBFCHELPCONTACT##"
                                      style="text-decoration: none; color: #000"
                                      >##NBFCHELPCONTACT##</a
                                    >
                                    /
                                    <a
                                      href="##NBFCSUPPORTMAIL##"
                                      style="text-decoration: none; color: #000"
                                      >##NBFCSUPPORTMAIL##</a
                                    >
                                  </td>
                                </tr>
                              </table>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
