<html>
  <header>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap'
      rel='stylesheet'
    />

    <style>
      .body { font-family: "Lexend"; }
    </style>
  </header>

  <body style='padding: 0; margin: 0'>
    <table style='width: 100%; overflow-y: scroll; border-collapse: collapse'>
      <tbody>
        <tr>
          <td>
            <table
              style='
                max-width: 725px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              '
            >
              <tbody>
                <tr>
                  <td style='height: 80px'>
                    <div style='margin-top: 18px; margin-bottom: 8px'>
                      <img width='165px' height='40px' src={{nbfcLogo}} />
                    </div>
                    {{#cIf showLendingPartner}}
                      <div style='font-size: 12px; margin-bottom: 18px'>
                        Lending Partner :
                        {{appName}}
                      </div>
                    {{/cIf}}
                  </td>

                  <td style='padding: 0 0px 0 0; width: 400px'>
                    {{#cIf isStamp}}
                      <div
                        style='color: #fff; font-size: 14px; text-align: end'
                      >
                        Certificate No :
                        {{stampNumber}}
                      </div>
                    {{/cIf}}
                    <div
                      style='
                        font-size: 12px;
                        text-align: end;
                        margin: 5px 0 0 0;
                      '
                    >
                      {{nbfcAddress}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <tr>
            <td style='background-color: #11ba77; height: 1px;'></td>
          </tr>
        </tr>
        <tr>
          <td>
            <div
              style='
                padding: 10px 30px 10px 30px;
                text-align: right;
                font-size: 10px;
              '
            >
              <b>पृष्ठ 1 की निरंतरता में</b>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table
              style='
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                width: 100%;
                font-family: Lexend;
                height: 100%;
              '
            >
              <tbody>
                <tr>
                  <td style='padding: 10px 30px; font-size: 12px'>
                    <div style='font-weight: 600; padding: 10px 0 0 0'>
                      <div
                        style='
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                          font-weight: 700;
                        '
                      >
                        6.
                      </div>
                      <div style='padding-inline-start: 50px; font-weight: 700'>
                      ऋणदाता के अधिकार, शक्तियां और उपाय:
                      </div>

                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          1.
                        </div>
                        <div style='padding-inline-start: 40px'>
                      उधारदाता उधारकर्ता के किसी भी दायित्व के संबंध में उधारदाता पर किसी भी दायित्व के लिए उस तरह से लेन या समायोजन का अधिकार
                      प्रयोग कर सकता है जैसे कि दायित्व असुरक्षित हों और उधारकर्ता के किसी भी खाते में संपत्ति/क्रेडिट बैलेंस या उधारकर्ता
                      द्वारा सुरक्षित रखे गए प्रतिभूतियों पर उधारदाता के कब्जे या संरक्षा में हो, चाहे वे सुरक्षित रखने के लिए हों या अन्यथा,
                      पर लेन का अधिकार होगा।
                        </div>
                      </div>

                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          2.
                        </div>
                        <div style='padding-inline-start: 40px'>
                        यदि ऋणदाता द्वारा मांगे जाने पर, ऋण राशि में बकाया राशि निर्धारित समय के भीतर चुकाई नहीं जाती है, तो किसी भी खाते में
                        ऐसी क्रेडिट शेष राशि को उधारकर्ता के ऋण खाते के तहत देय राशि में समायोजित किया जा सकता है।
                        </div>
                      </div>

                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          3.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          किसी भी घाटे की स्थिति में, ऋणदाता द्वारा घाटे की राशि उधारकर्ता से वसूल की जा सकती है।
                        </div>
                      </div>

                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          4.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          इसके तहत किसी भी अधिकार, शक्ति या उपाय का प्रयोग करने में ऋणदाता द्वारा विफलता या देरी की किसी भी रोक को ऐसे अधिकार,
                          शक्ति या उपाय की छूट नहीं माना जाएगा और इसके तहत किसी भी अधिकार, शक्ति या उपाय का कोई भी एकल या आंशिक अभ्यास इसे नहीं
                          रोकेगा। इसके आगे के प्रयोग और ऋणदाता का हर अधिकार और उपाय पूरी ताकत और प्रभाव से तब तक जारी रहेगा जब तक कि ऋणदाता द्वारा
                          निष्पादित लिखित रूप में ऐसे अधिकार, शक्ति या उपाय को विशेष रूप से माफ नहीं कर दिया जाता है।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          5.
                        </div>
                        <div style='padding-inline-start: 40px'>
                        ऋणदाता के अधिकार और उपाय संचयी होंगे और ऋणदाता के विवेक पर अकेले, क्रमिक रूप से या एक साथ उठाए जा सकते हैं।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          6.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          निर्धारित समय में ऋण की किस्तें चुकाने में विफल रहने की स्थिति में, ऋणदाता आपको किस्त के भुगतान के लिए आपके पंजीकृत
                          मोबाइल नंबर पर सूचित करेगा। हालाँकि, आपके नंबर से कोई प्रतिक्रिया नहीं मिलने पर ऋणदाता केवल समय पर भुगतान के लिए आपसे
                          संपर्क करेगा।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          7.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          उधारकर्ता सहमत है और विशेष रूप से ईएमआई देय तिथियों के संबंध में संपर्क करने के लिए एसएमएस, ईमेल, व्हाट्सएप और नियमित
                          पोस्ट सहित विभिन्न डिजिटल संचार चैनलों का उपयोग करने के लिए ऋणदाता को अनुमति प्रदान करता है। यदि आवेदन के समय प्रदान किए
                          गए दस्तावेज़ अस्पष्ट हैं तो ऋणदाता नियोक्ता से संपर्क करेगा। नियोक्ता से केवल रोजगार सत्यापन प्रयोजनों के लिए ही संपर्क
                          किया जाएगा।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          8.
                        </div>
                        <div style='padding-inline-start: 40px'>
                        असफल भुगतान के मामले में, जब भी आवश्यक हो, ऋणदाता के पास उधारकर्ता के बैंक खाते पर प्रत्यक्ष डेबिट लागू करने के सभी
                        अधिकार होते हैं जब तक कि सभी बकाया राशि की वसूली नहीं हो जाती या उधारकर्ता द्वारा अन्य माध्यमों से भुगतान नहीं कर दिया
                        जाता। उधारकर्ता इस बात से सहमत है कि वे अपने बैंक द्वारा लगाए गए किसी भी और सभी शुल्कों या प्रत्यक्ष डेबिट के दौरान
                        ऋणदाता द्वारा किए गए परिवर्तनों के लिए जिम्मेदार होंगे।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          9.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ऋणदाता किसी भी समय और समय-समय पर अपनी नीति के अनुसार, यदि कोई हो, ऋण अवधि के दौरान, अपने विवेक पर या जारी किए गए किसी भी
                          दिशानिर्देश/विनियम सहित विनियामक आवश्यकताओं में परिवर्तन के कारण ब्याज दर को संशोधित करने का हकदार होगा। आरबीआई और ऐसी
                          संशोधित ब्याज दर को ऋण का हिस्सा माना जाएगा और उधारकर्ता ऋण पर ब्याज की ऐसी संशोधित राशि का भुगतान ऐसे तरीके से और ऐसी
                          अवधि के भीतर करने के लिए उत्तरदायी होगा जो ऋणदाता द्वारा अपने विवेक से निर्धारित किया जा सकता है। . या उधारकर्ता इन
                          संशोधित दरों से बचने के लिए अपनी ऋण राशि का भुगतान करना चुन सकता है।
                        </div>
                      </div>
                    </div>

                    <div style='font-weight: 600; padding: 5px 0 0 0'>
                      <div
                        style='
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                          font-weight: 700;
                        '
                      >
                        7.
                      </div>
                      <div style='padding-inline-start: 50px; font-weight: 700'>
                        पुनर्प्राप्ति के गैर-जबरदस्ती तरीके:
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          1.
                        </div>
                        <div style='padding-inline-start: 40px'>
                        पिछले बकाया भुगतान अनुस्मारक: उधारकर्ता को एसएमएस, ऐप नोटिफिकेशन, व्हाट्सएप, ईमेल और कॉल (मैन्युअल और स्वचालित दोनों) के
                        माध्यम से भुगतान अनुस्मारक प्राप्त होंगे।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          2.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ईसीएस (डेबिट मैंडेट): ऋणदाता नियत तारीख पर ईसीएस के माध्यम से धन इकट्ठा करने और नियत तारीख पोस्ट करने का प्रयास करेगा।
                          ईसीएस भुगतान विफल होने की स्थिति में, सिस्टम द्वारा कई प्रयास किए जाएंगे।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          3.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ईएमआई की देरी या गैर-चुकौती: ऋण भुगतान के 3 या अधिक झूठे वादों के साथ-साथ पुनर्भुगतान में देरी के मामले में, ऋणदाता
                          और/या ऋणदाता द्वारा नियुक्त संग्रह एजेंसियों के प्रतिनिधि उधारकर्ता के खाते से धन इकट्ठा करने का प्रयास करेंगे और स्थिति
                          पर चर्चा करने के लिए केवल उसी से संपर्क करें। सभी चर्चाएं आपसी सहमति से बेहद विनम्र तरीके से की जाएंगी.
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          4.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          ईमेल संपर्क: उधारकर्ता द्वारा प्रदान की गई जानकारी के आधार पर, ऋणदाता और/या ऋणदाता द्वारा नियुक्त संग्रह एजेंसियां ​​आप
                          तक पहुंचने या आपकी स्थिति को समझने के प्रयास में सभी उपलब्ध ईमेल आईडी पर ईमेल भेजने का प्रयास करेंगी।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          5.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          व्यक्तिगत मुलाक़ात: उधारकर्ता के घर और/या कार्यस्थल से देय राशि एकत्र करने के लिए ऋणदाता द्वारा नियुक्त संग्रह एजेंसियों
                          में से एक द्वारा उधारकर्ता से व्यक्तिगत रूप से मुलाकात की जाएगी।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          6.
                        </div>
                        <div style='padding-inline-start: 40px'>
                          क्रेडिट ब्यूरो रिपोर्टिंग: यदि उधारकर्ता नियत तारीख पर या उससे पहले भुगतान करने में विफल रहते हैं, तो उनका भुगतान इतिहास
                          क्रेडिट रिपोर्टिंग एजेंसियों को सूचित किया जाएगा।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          7.
                        </div>
                        <div style='padding-inline-start: 40px'>
                      डिफॉल्ट ऋण: यदि उधारकर्ता अपनी सभी ईएमआई भुगतानों में चूक करता है, तो इसके परिणामस्वरूप गंभीर कानूनी परिणाम होंगे,
                      जिसमें उधारकर्ता के खिलाफ कानूनी कार्रवाई भी शामिल है।
                        </div>
                      </div>
                      <div style='font-weight: 400; padding: 0 0 5px 40px'>
                        <div
                          style='float: left; width: 10px; margin-left: 20px'
                        >
                          8.
                        </div>
                        <div style='padding-inline-start: 40px'>
                        आप सभी नियम और शर्तों से सहमत हैं। अगर आप सहमत नहीं हैं, तो कृपया प्रक्रिया को रोकें और ऋण आवेदन को अस्वीकार करें।
                        </div>
                      </div>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      style='font-size: 10px; bottom: 5px; position: fixed; right: 0; padding: 10px 30px 10px 0px; text-align: right;'
    >
      <b>पृष्ठ 2</b>
    </div>
    <td>
      <div
        style='   width: 100%;
            margin: auto;
            position: relative;
            bottom: 0;
            position: fixed;background-color: #171732;'
      >

      </div>
    </td>
  </body>
</html>