<html>
  <header>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap'
      rel='stylesheet'
    />
    <style>
      .body { font-family: "Lexend"; } .selfieImg { float: right; margin-right:
      45px; height: 113px; width: 113px; }
    </style>
  </header>

  <body style='padding: 0; margin: 0'>
    <table
      style='
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-family: Lexend;
      '
    >
      <tbody>
        <tr>
          <td>
            <table
              style='
                max-width: 725px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              '
            >
              <tbody>
                <tr>
                  <td style='height: 80px'>
                    <div style='margin-top: 18px; margin-bottom: 8px'>
                      <img width='165px' height='40px' src={{nbfcLogo}} />
                    </div>
                    {{#cIf showLendingPartner}}
                      <div style='font-size: 12px; margin-bottom: 18px'>
                        Lending Partner :
                        {{appName}}
                      </div>
                    {{/cIf}}
                  </td>
                  <td style='padding: 0 0px 0 0; width: 400px'>
                    <div
                      style='
                        font-size: 12px;
                        text-align: end;
                        margin: 5px 0 0 0;
                      '
                    >
                      {{nbfcAddress}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style='background-color: #11ba77; height: 1px;'></td>
        </tr>
        <tr>
          <td>
            <div
              style='
                padding: 10px 30px 10px 30px;
                text-align: right;
                font-size: 10px;
              '
            >
              <b>In continuation to page 1</b>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table
              style='
                background: transparent;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                width: 100%;
                font-family: Lexend;
                height: 100%;
                margin-top: 16px;
              '
            >
              <tbody>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>12.</b>
                    I acknowledge and understand that acting under my due
                    authorisation, the Lender have performed my credit checks on
                    my behalf and obtained my credit report while issuing the
                    Sanction Letter for the purpose of assessing my credit
                    worthiness through a credit information company or
                    otherwise.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>13.</b>
                    I represent and warrant that the funds shall be used for the
                    Purpose specified at the time of digital application and
                    will not be used for any illegal, speculative or antisocial
                    purpose.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b> 14.</b>
                    I have clearly understood and accepted the fees listed in
                    the agreement and KFS.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b> 15.</b>
                    I hereby confirm that I am availing the Loan for my own
                    personal requirement of personal loan and no representative
                    of the Lender has emphasized or induced me directly /
                    indirectly to apply for or avail the Loan.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b> 16.</b>
                    I consent that the details of reference contacts/related
                    persons provided by me may be contacted for verification of
                    my identity, repayment capability and/or to make collection
                    efforts in case of breach of the Transaction Documents by me
                    including failure to make the repayments on the due date.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>17.</b>
                    I am, neither directly nor indirectly related to Lenders'
                    director/s as contemplated under the provisions of Companies
                    Act 2013 and I am not a politically exposed person as per
                    KYC guidelines of RBI.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>18.</b>
                    I hereby give my explicit consent to the Lender to obtain my
                    Credit Information Report (CIR) from the Credit Information
                    Companies and the fees of buying the CIR will be deducted
                    from the loan disbursed/sanctioned amount, if the option of
                    buying the CIR is availed during the application of the
                    Loan.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>19.</b>
                    I hereby give my explicit consent to the Lender to deduct
                    the insurance-related fees from the disbursement amount and
                    pay the amount to the Insurance Service provider as
                    disclosed to me during the process of application, if any.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>20.</b>
                    I hereby declare that I have read all the features,
                    Benefits, Exclusions and claim process of the insurance
                    product and have voluntarily opted for the same. I am aware
                    that in case of non-disclosure of material facts or fraud,
                    there would be no refund of premium paid.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>21.</b>
                    I agree to abide by the terms & conditions of the product
                    and provide my explicit consent to share my personal
                    details/KYC information, as required and as legally
                    permissible for opting aforementioned insurance
                    policies/products/facilities, if any.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b> 22.</b>
                    In case of any updation to the documents submitted by me
                    while opening an account for the purpose of taking a loan, I
                    undertake to promptly submit the updated documents to the
                    Lender.
                  </td>
                </tr>

                <tr>
                  <td
                    colspan='2'
                    style='
                      font-size: 12px;
                      letter-spacing: 0.2px;
                      padding: 20px 30px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    I HEREBY CONFIRM THAT I HAVE READ AND UNDERSTOOD THE
                    STANDARD TERMS AND CONDITIONS APPLICABLE TO THIS LOAN AS
                    APPROVED BY THE LENDER, AND I ACCEPT THIS LOAN SUMMARY AFTER
                    HAVING READ, ANALYSED, UNDERSTOOD AND ACCEPTED EACH TERM OF
                    THE LOAN SUMMARY AND THE STANDARD TERMS AND CONDITIONS FOR
                    DISBURSAL OF THE LOAN.
                  </td>
                </tr>

                <tr>
                  <td
                    colspan='2'
                    style='
                      padding: 2px 30px;
                      font-size: 12px;
                      line-height: 20px;
                    '
                  >
                    <div style='width: 170px; float: left'>
                      {{borrowerName}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    colspan='2'
                    style='
                      padding: 2px 30px;
                      font-size: 12px;
                      line-height: 20px;
                    '
                  >
                    <div style='width: 170px; float: left'>
                      Name of the Borrower
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    colspan='2'
                    style='
                      padding: 2px 30px;
                      font-size: 12px;
                      line-height: 20px;
                    '
                  >
                    <div style='width: 170px; float: left'>Signature</div>
                  </td>
                </tr>
                <tr>
                  <td
                    colspan='2'
                    style='
                      padding: 2px 30px 20px;
                      font-size: 12px;
                      line-height: 20px;
                    '
                  >
                    <div style='width: 170px; float: left'>Date</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      style='font-size: 10px; bottom: 5px; position: fixed; right: 0; padding: 10px 30px 10px 0px; text-align: right;'
    >
      <b>Page 2</b>
    </div>

    <td>
      <div
        style='   width: 100%;
            margin: auto;
            position: relative;
            bottom: 0;
            position: fixed;background-color: #171732;'
      >

      </div>
    </td>
  </body>
</html>