<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </header>

  <body style="padding: 0; margin: 0; background-color: #d9d9d9">
    <table style="width: 100%; margin-top: 20px">
      <tbody>
        <tr>
          <td>
            <table
              style="
                background-color: #fff;
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                max-width: 650px;
                width: 100%;
                font-family: 'lexend';
              "
            >
              <tbody>
                <tr>
                  <td
                    style="
                      text-align: center;
                      box-shadow: 7px -1px 26px -18px #888888;
                      margin: 0 0 10px 0;
                    "
                  >
                    <img
                      src="##NBFCLOGO##"
                      width="140"
                      alt="Logo"
                      title="Logo"
                    />
                  </td>
                </tr>
                <tr>
                  <table
                    style="
                      background-color: #fff;
                      margin: auto;
                      max-width: 650px;
                      width: 100%;
                      padding: 0px 70px;
                      font-family: 'lexend';
                      padding-bottom: 30px;
                    "
                  >
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          style="
                            font-weight: 800;
                            font-size: 20px;
                            padding: 10px 0 0 0;
                          "
                        >
                          DATABASE PERFOMANCE ISSUE
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 16px; padding: 20px 0 0px 0">
                          Dear
                          <span style="font-weight: 600; margin: 0 0 0 5px">
                            IT team,</span
                          >
                        </td>
                      </tr>

                      <tr>
                        <td
                          style="
                            padding: 25px 0;
                            color: #303030;
                            line-height: 22px;
                          "
                        >
                          We would like to bring to your attention a recent
                          issue regarding our database performance.
                          <br />
                          Our database query monitoring system has detected that
                          a particular query took longer than 10 seconds to
                          execute.
                        </td>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td
                          align="center"
                          style="
                            border: 1px dashed #ff1e1e;
                            padding: 10px;
                            border-radius: 6px;
                            background-color: #fff5f5;
                          "
                        >
                          <div>
                            <div
                              style="
                                float: center;
                                color: #ff1e1e;
                                font-size: 16px;
                                width: 100%;
                                font-weight: 600;
                              "
                            >
                              Following Query details
                            </div>
                            <div
                              style="
                                float: center;
                                width: 100%;
                                text-align: center;
                                font-size: 14px;
                                line-height: 22px;
                              "
                            >
                              ##TABLE##
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 40px 0 0 0">
                          This delay in query execution may impact our system's
                          performance and user experience.
                        </td>
                      </tr>
                      <tr>
                        <td style="color: #303030; padding: 15px 0 0 0">
                          Best Regards,
                        </td>
                      </tr>
                      <tr>
                        <td style="color: #303030">Team ##NBFCSHORTNAME##</td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
                <tr>
                  <table
                    style="
                      background-color: #171732;
                      margin: auto;
                      max-width: 650px;
                      width: 100%;
                      padding: 0px 70px;
                      font-family: 'lexend';
                      padding: 10px;
                      position: relative;
                      top: -5px;
                    "
                  >
                    <tbody>
                      <tr style="text-align: center">
                        <td style="color: #fff; font-size: 12px">
                          ##NBFCINFO##
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </body>
</html>
