<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </header>

  <body style="padding: 0; margin: 0; background-color: #d9d9d9">
    <table style="width: 100%; margin-top: 20px">
      <tbody>
        <tr>
          <td>
            <table
              style="
                background-color: #fff;
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                max-width: 650px;
                width: 100%;
                font-family: 'lexend';
              "
            >
              <tbody>
                <tr>
                  <td
                    style="
                      text-align: center;
                      box-shadow: 7px -1px 26px -18px #888888;
                      margin: 0 0 10px 0;
                    "
                  >
                    <img
                      src="##NBFCLOGO##"
                      width="140"
                      alt="Logo"
                      title="Logo"
                    />
                  </td>
                </tr>
                <tr>
                  <table
                    style="
                      background-color: #fff;
                      margin: auto;
                      max-width: 650px;
                      width: 100%;
                      padding: 0px 70px;
                      font-family: 'lexend';
                      padding-bottom: 30px;
                    "
                  >
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          style="
                            font-weight: 800;
                            font-size: 20px;
                            padding: 10px 0 0 0;
                          "
                        >
                          E-MANDATE INVITATION
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 16px; padding: 30px 0 20px 0">
                          Dear
                          <span style="font-weight: 600; margin: 0 0 0 5px">
                            ##FullName##,</span
                          >
                        </td>
                      </tr>

                      <tr>
                        <td style="color: #797979; line-height: 22px">
                          Kindly complete the eMandate process to proceed
                          further. Click on below "<span
                            style="font-weight: 600; color: #000"
                            >Proceed</span
                          >" button and complete the process.
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 30px 0" align=" center ">
                          <a
                            href="##LINK##"
                            style="
                              background-color: #11b177;
                              border-radius: 5px;
                              text-align: center;
                              width: 200px;
                              padding: 10px 40px;
                              cursor: pointer;
                              color: #fff;
                              text-decoration: none;
                            "
                          >
                            Proceed
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center "
                          style="
                            border: 1px dashed #ff4e60;
                            padding: 10px;
                            border-radius: 6px;
                            background-color: #fff7f8;
                          "
                        >
                          <div>
                            <div
                              style="
                                float: left;
                                color: #ff4e60;
                                font-size: 16px;
                                width: 32%;
                                font-weight: 600;
                              "
                            >
                              Important notes :
                            </div>
                            <div
                              style="
                                float: right;
                                width: 68%;
                                text-align: left;
                                font-size: 14px;
                                line-height: 22px;
                              "
                            >
                              Do not press the back button while mandate process
                              and do not try multiple times, In case of any
                              queries reach out us on mail or chatbox in the app
                              or contact us on -
                              <span style="font-weight: 600"
                                >##HELPCONTACT##</span
                              >
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td style="color: #303030; padding: 30px 0 0 0">
                          Best Regards,
                        </td>
                      </tr>
                      <tr>
                        <td style="color: #303030">Team ##NBFCSHORTNAME##.</td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
                <tr>
                  <table
                    style="
                      background-color: #171732;
                      margin: auto;
                      max-width: 650px;
                      width: 100%;
                      padding: 0px 70px;
                      font-family: 'lexend';
                      padding: 10px;
                      position: relative;
                      top: -5px;
                    "
                  >
                    <tbody>
                      <tr style="text-align: center">
                        <td style="color: #fff; font-size: 12px">
                          ##NBFCINFO##
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
