<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </header>
  <style>
    body {
      font-family: 'Lexend';
    }
  </style>
  <body style="padding: 0; margin: 0">
    <table
      style="
        max-width: 800px;
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-family: Lexend;
        font-size: 14px;
        margin-bottom: 100px;
      "
    >
      <tbody>
        <tr>
          <td>
            <table
              style="
                max-width: 800px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              "
            >
              <tbody>
                <tr>
                  <td style="height: 80px; left: 0; padding: 20px 30px 30px">
                    <div>
                      <img width="165px" height="40px" src="##NBFCLOGO##" />
                    </div>
                  </td>
                  <td
                    style="
                      padding: 0 0 0 0;
                      width: 400px;
                      left: 0;
                      padding: 20px 30px 30px;
                    "
                  >
                    <div
                      style="
                        color: #000000;
                        font-size: 14px;
                        text-align: end;
                        margin: 20px 0 0 0;
                        font-weight: bold;
                      "
                    >
                      ##NBFCNAME##
                    </div>
                    <div
                      style="
                        color: #666666;
                        font-size: 14px;
                        text-align: end;
                        margin: 5px 0 0 0;
                      "
                    >
                      RBI NBFC Registered No. :
                      <span style="font-weight: 600; color: #000000"
                        >##NBFCREGISTRATIONNUMBER##</span
                      >
                    </div>
                    <div
                      style="
                        color: #666666;
                        font-size: 14px;
                        text-align: end;
                        margin: 5px 0 20px 0;
                      "
                    >
                      CIN No. :
                      <span style="font-weight: 600; color: #000000"
                        >##CINNO##</span
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td
            style="
              background-color: #11b177;
              width: 100%;
              justify-content: end;
              height: 1px;
            "
          ></td>
        </tr>
        <tr>
          <td>
            <table
              style="
                background: transparent;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                width: 100%;
                font-family: Lexend;
                height: 100%;
              "
            >
              <tbody>
                <tr>
                  <td>
                    <div>
                      <table
                        style="
                          padding: 20px 0;
                          width: 100%;
                          max-width: 800px;
                          margin: auto;
                          text-align: center;
                        "
                      >
                        <tbody>
                          <!-- sub header  -->
                          <tr>
                            <td>
                              <span
                                style="
                                  font-weight: 600;
                                  font-size: 20px;
                                  letter-spacing: 0.3px;
                                  vertical-align: middle;
                                "
                                >No objection certificate
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        style="
                          max-width: 700px;
                          padding: 20px 30px 30px;
                          font-size: 16px;
                          color: #000000;
                          line-height: 30px;
                        "
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tbody>
                          <tr>
                            <td style="width: 300px">
                              Date:
                              <span style="padding: 10px 0 0 0"
                                ><b>##CURRENT_DATE##</b></span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td style="width: 300px">
                              Loan ID:
                              <span style="padding: 10px 0 0 0">
                                <b>##LOANID##</b></span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td style="width: 300px">
                              Customer name:
                              <span style="padding: 10px 0 0 0"
                                ><b>##NAME##</b></span
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        style="
                          margin: auto;
                          max-width: 800px;
                          font-size: 14px;
                          color: #000000;
                        "
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                padding: 20px 30px 30px;
                                line-height: 20px;
                                text-align: justify;
                              "
                            >
                              This is to certify that
                              <b>##NBFCNAME##</b> has received complete payment
                              (including all applicable charges) towards the
                              <b>PERSONAL LOAN</b> facility availed by you under
                              the Loan Id:<b> ##LOANID##</b>, dated:
                              <b>##DATE##</b> No further amount is payable by
                              you to <b>##NBFCNAME##</b> under the aforesaid
                              loan account.
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                padding: 20px 30px 30px;
                                line-height: 20px;
                                text-align: justify;
                              "
                            >
                              <b>Note: </b>Details of your loan closure will be
                              updated to credit Bureaus within
                              <b>45 TO 60</b> Working days.
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                padding: 20px 30px 30px;
                                line-height: 20px;
                                text-align: justify;
                              "
                            >
                              This is system generated communication and does
                              not required any signature.
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <footer
      style="
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-family: Work Sans, sans-serif;
      "
    >
      <tr>
        <td>
          <div
            style="
              width: 100%;
              margin: auto;
              position: relative;
              bottom: 0;
              position: fixed;
              height: 10px;
              background-color: #171732;
            "
          ></div>
        </td>
      </tr>
    </footer>
  </body>
</html>
