<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="padding: 0; margin: 0; font-family: 'Lexend', sans-serif">
    <div style="width: 800px; margin: auto">
      <table
        style="width: 100%; padding: 20px; background-color: #f3fbf8"
        cellpadding="0"
        cellspacing="0"
      >
        <tbody>
          <!-- header  -->

          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #ffffff;
                  text-align: center;
                "
              >
                <img
                  style="
                    background-color: #f3fbf8;
                    padding: 15px 30px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                  "
                  src="##NBFCLOGO##"
                />
              </div>
            </td>
          </tr>

          <!-- content 1  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #ffffff;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 80%;
                    font-size: 14px;
                    color: #000000;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr style="text-align: center; font-size: 18px">
                      <td style="padding: 20px 0 0 0; font-weight: bold">
                        PTP REMINDER
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 0 0 0">Hi <b>##NAME##,</b></td>
                    </tr>
                    <tr>
                      <td
                        style="
                          padding: 20px 0 0 0;
                          line-height: 20px;
                          text-align: justify;
                        "
                      >
                        We wanted to kindly remind you about the promise to make
                        a payment that is due Today.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div
                style="
                  padding-top: 20px;
                  max-width: 800px;
                  background-color: #ffffff;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 400px;
                    width: 80%;
                    font-size: 14px;
                    color: #000000;
                    line-height: 30px;
                    border-collapse: collapse;
                  "
                >
                  <tbody>
                    <tr style="text-align: center; background-color: #f3fbf8">
                      <td style="text-align: left; padding-left: 20px">
                        Repayment Amount :
                      </td>
                      <td
                        style="
                          text-align: right;
                          padding-right: 20px;
                          color: #11b177;
                        "
                      >
                        ₹ ##AMOUNT##
                      </td>
                    </tr>
                    <tr style="text-align: center; background-color: #f3fbf8">
                      <td style="text-align: left; padding-left: 20px">
                        PTP Date:
                      </td>
                      <td
                        style="
                          text-align: right;
                          padding-right: 20px;
                          color: #11b177;
                        "
                      >
                        ##DATE##
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <!-- payment button  -->
          <tr style="background-color: #ffffff">
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  text-align: center;
                  margin-top: 20px;
                  width: 80%;
                "
              >
                <div>
                  <button
                    style="
                      width: 150px;
                      border: 1px solid #11b177;
                      background-color: #11b177;
                      color: #ffffff;
                      border-radius: 4px;
                      height: 35px;
                      font-weight: bold;
                    "
                  >
                    <a
                      href="##PAYNOW##"
                      style="color: #ffffff; text-decoration: none"
                    >
                      PAY NOW
                    </a>
                  </button>
                </div>
              </div>
            </td>
          </tr>

          <!-- content 2  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #ffffff;
                  color: #000000;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 80%;
                    font-size: 14px;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="line-height: 20px">
                        <div style="margin-top: 20px; text-align: justify">
                          As per our previous conversation, we are expecting the
                          payment of ₹##AMOUNT## to be paid by tomorrow. If you
                          have already made the payment, please accept our
                          gratitude and disregard this reminder.
                        </div>
                      </td>
                    </tr>
                    <td style="line-height: 20px">
                      <div style="margin-top: 20px; text-align: justify">
                        However, if you haven't had the chance to make the
                        payment yet, we kindly ask you to process it as soon as
                        possible to avoid any inconvenience. Should you require
                        any assistance or encounter any challenges, please don't
                        hesitate to reach out to us via WhatsApp or Call our
                        customer support team at
                        <a href="" style="color: #11b177; text-decoration: none"
                          >##COLLECTIONCONTACT##.</a
                        >
                        Email ID:
                        <a style="color: #11b177" href=""
                          >##COLLECTIONEMAIL##</a
                        >
                      </div>
                    </td>
                    <tr>
                      <td style="line-height: 20px">
                        <div style="margin-top: 20px; text-align: justify">
                          Your prompt attention to this matter is greatly
                          appreciated, and we look forward to continuing our
                          positive working relationship.
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>

          <!-- NBFC  -->
          <tr>
            <td style="background-color: #ffffff">
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  width: 80%;
                  font-size: 14px;
                "
              >
                <div style="margin: 20px 0 0; font-size: 14px">
                  Best regard!
                </div>
                <div style="margin: 0 0 30px; color: #11b177; font-size: 14px">
                  Team ##NBFCSHORTNAME##.
                </div>
              </div>
              <div style="margin: auto; max-width: 800px; color: #fff">
                <div
                  style="
                    background-color: #171732;
                    margin: auto;
                    padding: 20px;
                    text-align: center;
                    font-size: 13px;
                  "
                >
                  ##NBFCINFO##
                </div>
              </div>
            </td>
          </tr>

          <!-- footer  -->
          <tr>
            <td>
              <div
                style="
                  margin: auto;
                  max-width: 800px;
                  background-color: #ffffff;
                  color: #000000;
                "
              >
                <table
                  style="
                    margin: auto;
                    max-width: 800px;
                    width: 100%;
                    font-size: 14px;
                  "
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tbody>
                    <tr>
                      <td style="padding: 0 80px; line-height: 20px">
                        <div
                          style="
                            margin-top: 20px;
                            text-align: justify;
                            text-align: center;
                          "
                        >
                          © ##CURRENTYEAR## ##NBFCSHORTNAME##. All rights
                          reserved.
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 80px; line-height: 20px">
                        <div
                          style="
                            margin-top: 20px;
                            text-align: justify;
                            text-align: center;
                          "
                        >
                          You are receiving this mail because you registered to
                          join the ##APPNAME## platform as a user. This also
                          shows that you agree to our Terms of use and Privacy
                          Policies.
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 80px; line-height: 20px">
                        <div
                          style="
                            margin: 20px 0;
                            text-align: justify;
                            text-align: center;
                          "
                        >
                          <a href="" style="color: #000000"> Privacy policy</a>
                          <span style="color: #d9d9d9">&bull;</span>
                          <a href="" style="color: #000000">Terms of service</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
