<html>
<header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
    href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
    rel="stylesheet"
  />
</header>

<body style="padding: 0; margin: 0; background-color: #d9d9d9; color: #000000">
    <table style="width: 100%; margin-top: 20px">
        <tbody>
            <tr>
                <td>
                    <table style="
                background-color: #fff;
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                max-width: 650px;
                width: 100%;
                font-family: 'lexend';
                height: 70px;
                padding-bottom: 30px;
              ">
                        <tbody>
                            <tr > 
                                <td style="text-align: center">
                                    <img  src="##NBFCLOGO##" width="140" height="120"  alt="Logo" title="Logo" />
                                </td>
                            </tr>
                            <tr>
                                <table style="
                      background-color: #fff;
                      margin: auto;
                      max-width: 650px;
                      width: 100%;
                      padding: 0px 70px;
                      font-family: 'lexend';
                      padding-bottom: 30px;
                    ">
                                    <tbody>
                                        <tr>
                                            <td style="
                            font-size: 22px;
                            font-weight: 700;
                            color: #FF1E1E;
                            padding: 0px 0 20px 0;
                            text-align: center;
                          ">
                                                Alert Database Query Failure
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 20px 0px 5px 0px; font-size: 16px">
                                                Dear
                                                <strong>Tech team ,</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="
                            font-size: 16px;
                            padding: 0 0 5px 0;
                            line-height: 22px;
                            font-weight: 400;
                          ">
                                                We are writing to inform you that a database query has failed to execute properly. Below are the details of the incident:
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0px 0 5px 0">
                                                <strong>Query Details</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ##tableData##
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br />
                                            </td>
                </td>
                <tr>
                    <td style="padding: 5px 0px 0px 0px; font-size: 16px">
                        We kindly request your prompt attention to this matter to ensure the timely resolution of the issue. Please take the necessary actions to investigate and address the problem
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px 0px 0px 0px; font-size: 16px">
                        Thank you.
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px 0px 0px 0px; font-size: 16px">
                        ##NBFC## Personal Loan
                    </td>
                </tr>
                
                </table>
                </tr>
                </tbody>
                </table>
                </td>
                </tr>
                
        </tbody>
    </table>
</body>

</html>