<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
  </header>

  <body style="padding: 0; margin: 0">
    <table
      style="
        background-color: #fff;
        margin: auto;
        width: 100%;
        max-width: 800px;
        padding: 20px 40px;
        font-family: 'lexend';
        text-align: justify;
      "
    >
      <tbody>
        <tr>
          <td>
            <table
              style="
                max-width: 700px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              "
            >
              <tbody>
                <tr>
                  <td style="height: 80px">
                    <div style="margin-top: 18px; margin-bottom: 8px">
                      <img width="165px" height="40px" src="##NBFCLOGO##" />
                    </div>
                  </td>
                  <td style="height: 80px">
                    <div style="margin-top: 18px; margin-bottom: 8px; right: 0">
                      <div style="display: flex; justify-content: end">
                        RBI NBFC Registered No. : ##NBFCREGISTRATIONNUMBER##
                      </div>
                      <div style="display: flex; justify-content: end">
                        CIN No. : ##CINNO##
                      </div>
                      <div
                        style="
                          display: flex;
                          justify-content: end;
                          align-items: center;
                        "
                      >
                        <img
                          height="10px"
                          src="https://storage.googleapis.com/backend_static_stuff/Email.png"
                        />
                        <span
                          style="
                            padding-left: 5px;
                            color: gray;
                            font-size: 14px;
                            letter-spacing: 0.3px;
                          "
                        >
                          ##COLLECTIONMAIL##
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #11b177;
              width: 100%;
              justify-content: start;
              height: 1px;
              float: left;
            "
          ></td>
        </tr>

        <tr>
          <td
            colspan="2"
            style="text-align: center; padding: 40px 0"
            colspan="2"
          >
            <span
              style="font-weight: 800; font-size: 16px; letter-spacing: 0.3px"
              >One-Time Final Settlement Offer</span
            >
          </td>
        </tr>
        <tr>
          <td
            colspan="2"
            style="
              color: rgb(53, 50, 50);
              font-size: 14px;
              letter-spacing: 0.3px;
              padding-bottom: 20px;
            "
          >
            Dear <span style="font-weight: 700">##FULLNAME##</span>,
          </td>
        </tr>

        <tr>
          <td colspan="2" style="line-height: 20px; font-size: 14px">
            We regret to inform you that your loan payment is now significantly
            overdue <span style="font-weight: 700">##OVERDUE_DAYS##</span>, and
            despite our previous reminders, we have not received any response or
            payment from you.
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 14px">
            However, we understand that sometimes situations can be challenging,
            and people may face financial difficulties. Therefore, we would like
            to offer you a last & final opportunity to resolve this matter
            without legal action.
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td
            colspan="2"
            style="font-size: 14px; font-weight: 550; padding-bottom: 20px"
          >
            If you can pay the overdue amount with a ##OFFER_PER##% Penalty
            Waiver in 2 Installments, we will consider and the loan account will
            be closed after receiving both two installments. This is a one-time
            final offer.
          </td>
        </tr>

        <tr>
          <td colspan="2" style="font-size: 14px">
            For a better understanding check the breakup below :
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 14px; font-weight: 550">
            Total Outstanding Amount Till Today : Rs.##TOTAL_DUE##
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 14px; font-weight: 550">
            Total Penalty Amount Added Till Today : Rs.##PENALTY_AMOUNT##
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 14px; font-weight: 550">
            ##OFFER_PER##% Penalty Waiver Amount : Rs.##WAIVER_AMOUNT##
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 14px; font-weight: 550">
            Total Payable Amount of both 2 Installments : Rs.##OFFER_AMOUNT##
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <!-- Kindly find below -->
        <tr>
          <td colspan="2" style="font-size: 14px; font-weight: 550">
            Total Payable Amount to close with 2 Installments, Kindly find the
            installment details below.
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <!-- 1st installment amount -->
        <tr>
          <td colspan="2" style="font-size: 14px; font-weight: 550">
            1st Installment: Today : Rs. ##INSTALLMENT_AMOUNT##
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <!-- 2nd installment amount -->
        <tr>
          <td colspan="2" style="font-size: 14px; font-weight: 550">
            2nd Installment: ##NEXT_INSTALLMENT_DATE## : Rs.
            ##INSTALLMENT_AMOUNT##
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <!-- 1st installment link -->
        <tr>
          <td
            colspan="2"
            style="font-size: 14px; font-weight: 550; padding-bottom: 20px"
          >
            <div
              style="display: flex; flex-direction: row; align-items: center"
            >
              <div style="margin-right: 10px">
                1st installment Payment Link :
              </div>
              <a href="##LINK##" style="text-decoration: none">
                <div
                  style="
                    font-size: 13px;
                    background-color: #11b177;
                    color: #fff;
                    border-radius: 5px;
                    width: max-content;
                    padding: 8px 16px;
                    cursor: pointer;
                  "
                >
                  Click here to pay now
                </div>
              </a>
            </div>
          </td>
        </tr>

        <!-- Offer deadline -->
        <tr>
          <td colspan="2" style="font-size: 14px">
            <span style="font-weight: 550"
              >Please note : The penalty discount Offer is valid till 11.59 PM
              Today.</span
            >
            If you fail to make the payment before the deadline, we will not be
            able to offer any further concessions or offers. Once you are done
            with the payment, please share the screenshot with us.
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 14px">
            If we have not received payment today then as per the terms and
            conditions of your loan agreement, we are left with no choice but to
            take strict action including
            <span style="font-weight: 550"
              >LEGAL ACTIONS at Ahmedabad Court</span
            >.
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <!-- Contact details -->
        <tr>
          <td colspan="2" style="font-size: 14px">
            If you have any questions or concerns, please mail us at
            <a href="mailto:##CONTACT_EMAIL##" style="text-decoration: none">
              <b>##CONTACT_EMAIL##</b></a
            >
            or CALL / WHATSAPP us at
            <a href="##WHATSAPP_LINK##" style="text-decoration: none">
              <b>##CONTACT_NUMBER##</b></a
            >
            so that we can assist you further.
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td
            colspan="2"
            style="font-size: 14px; font-weight: 550; padding-bottom: 20px"
          >
            NOTE: Once we receive both 2 installments, we will share your NOC at
            your registered Email Address and start the Case Withdrawal Process
            (if any as of now).
          </td>
        </tr>

        <!-- Thanks -->
        <tr>
          <td colspan="2" style="font-size: 14px">
            Thank you for your prompt attention to this matter.
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 14px; letter-spacing: 0.3px">
            Best Regards,<br />
          </td>
        </tr>
        <tr>
          <td
            colspan="2"
            style="font-size: 14px; font-weight: 550; padding-bottom: 30px"
          >
            ##NBFCSHORTNAME## Finserve Legal and Collections Team.
          </td>
        </tr>
      </tbody>
    </table>
    <tr>
      <td>
        <div
          style="
            width: 100%;
            margin: auto;
            position: relative;
            bottom: 0;
            position: fixed;
            height: 10px;
            background-color: #171732;
          "
        ></div>
      </td>
    </tr>
  </body>
</html>
