<html>
  <header>
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </header>

  <body style="padding: 0; margin: 0; background-color: #d9d9d9">
    <table style="width: 100%; margin-top: 20px">
      <tbody>
        <tr>
          <td>
            <table
              style="
                background-color: #fff;
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                max-width: 650px;
                width: 100%;
                font-family: Lexend;
                height: 70px;
              "
            >
              <tbody>
                <tr>
                  <td style="text-align: center">
                    <img
                      src="##NBFCLOGO##"
                      width="140"
                      height="120"
                      alt="Logo"
                      title="Logo"
                    />
                  </td>
                </tr>
                <tr>
                  <table
                    style="
                      background-color: #fff;
                      margin: auto;
                      max-width: 650px;
                      width: 100%;
                      padding: 0px 70px;
                      font-family: Lexend;
                      padding-bottom: 30px;
                    "
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            font-size: 22px;
                            font-weight: 700;
                            color: green;
                            padding: 0px 0 20px 0;
                            text-align: center;
                          "
                        >
                          Unclosed EMI or Loan
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 20px 0px 5px 0px; font-size: 16px">
                          Dear
                          <strong>IT Team,</strong>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                      </tr>
                      <tr>
                        <td
                          style="
                            font-size: 16px;
                            padding: 0 0 5px 0;
                            line-height: 22px;
                            font-weight: 400;
                          "
                        >
                          We are writing to alert you about a recent payment
                          that has been successfully processed. However, it has
                          come to our attention that there is an open EMI or an
                          activated loan associated with this payment.
                        </td>
                      </tr>

                      <tr>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          <strong>Payment Details:</strong>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          <li><strong>User ID:</strong> ##userId##</li>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          <li><strong>User Name:</strong>##fullName##</li>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          <li><strong>Loan ID:</strong> ##loanId##</li>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          <li><strong>Due Date:</strong> ##emiDate##</li>
                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          <li><strong>Payment Date:</strong> ##paidDate##</li>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          <li>
                            <strong>Payment Amount:</strong> ##paidAmount##
                          </li>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 0 5px 0">
                          <li><strong>Transaction ID:</strong> ##tranId##</li>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <br />
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 5px 0px 0px 0px; font-size: 16px">
                          Thank you.
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 5px 0px 0px 0px; font-size: 16px">
                          ##NBFC## Personal Loan
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
